/*
 * Used to overwrite or set text colors.
 * Check specificity when using these.
 */
.color-white {
	color: #fff;
}

.color-text-color {
	color: $text-color;
}

.color-text-color-light {
	color: $text-color-light;
}

.color-logo-orange {
	color: $logo-orange;
}

.color-logo-blue {
	color: $logo-blue;
}

.color-brand-orange {
	color: $brand-orange;
}

.color-orange-dark {
	color: $brand-orange-dark;
}

.color-orange-light {
	color: $brand-orange-light;
}

.color-brand-blue {
	color: $brand-blue;
}

.color-brand-blue-dark {
	color: $brand-blue-dark;
}

.color-brand-blue-light {
	color: $brand-blue-light;
}

/*
 * Used to overwrite or set background colors.
 * Check specificity when using these.
 */
.background-text-color {
	background: $text-color;
}

.background-text-color-light {
	background: $text-color-light;
}

.background-logo-orange {
	background: $logo-orange;
}

.background-logo-blue {
	background: $logo-blue;
}

.background-brand-orange {
	background: $brand-orange;
}

.background-orange-dark {
	background: $brand-orange-dark;
}

.background-orange-light {
	background: $brand-orange-light;
}

.background-brand-blue {
	background: $brand-blue;
}

.background-brand-blue-dark {
	background: $brand-blue-dark;
}

.background-brand-blue-light {
	background: $brand-blue-light;
}

.color-twitter,
a.color-twitter,
a:visited.color-twitter,
a:hover.color-twitter,
a:focus.color-twitter,
a:active.color-twitter {
    color: $twitter;
}

.main-navigation a.background-twitter:hover,
.mobile-navigation-bar__social a.background-twitter:hover {
	background: $twitter;
}

/*
 * Used for social media links
 */
.color-facebook,
a.color-facebook,
a:visited.color-facebook,
a:hover.color-facebook,
a:focus.color-facebook,
a:active.color-facebook {
    color: $facebook;
}

.main-navigation a.background-facebook:hover,
.mobile-navigation-bar__social a.background-facebook:hover {
	background:$facebook;
}

.color-googleplus,
a.color-googleplus,
a:visited.color-googleplus,
a:hover.color-googleplus,
a:focus.color-googleplus,
a:active.color-googleplus {
    color: $googleplus;
}

.main-navigation a.background-googleplus:hover,
.mobile-navigation-bar__social a.background-googleplus:hover {
	background: $googleplus;
}

.color-linkedin,
a.color-linkedin,
a:visited.color-linkedin,
a:hover.color-linkedin,
a:focus.color-linkedin,
a:active.color-linkedin {
    color: $linkedin;
}