hr,
hr.hr-0 {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $border-color;
    margin: 0;
    padding: 0;
}

hr.hr-20 {
    margin: 20px 0;
}

hr.hr-40 {
    margin: 40px 0;
}

hr.hr-60 {
    margin: 60px 0;
}

hr.double {
    border-top: 2px solid $border-color;
}

ul,
ol {
    margin: 0 0 21px 1.5em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li {
    margin-bottom: 0.5em;
}

li > ul,
li > ol {
    margin-top: 0.5em;
    margin-bottom: 0;
}

.list-content,
.list-content-checklist {
    list-style-type: none;
    margin: 0 0 $text-margin-bottom 0;
    padding: 0;
}

.list-content li {
    position: relative;
    padding: 4px 0 4px 18px;    
    margin: 0;
}

.list-content-checklist li {
    position: relative;
    padding: 8px 0 8px 30px;
    margin: 0;
}

.list-content li:before,
.list-content-checklist li:before {
    position: absolute;
    top: 4px;
    left: 0;   
    font-family: "FontAwesome";
    font-weight: bold;
}

.list-content li:before {
    content: "\f105";
    color: $brand-orange;
}

.list-content-checklist li:before {
    content: "\f00c";
    color: $brand-orange;
    font-size: 1.290322em; /* 20/15.5 */
}

.list-two-column {
    column-count: 2;
}

.list-content-no-margin {
    margin: 0;
}

@media screen and (max-width: 767px) {

  .list-two-column {
      column-count: 1;
  }

}

dt {
    font-weight: bold;
}

dd {
    margin: 0 0 21px 3em;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

img.non-responsive {
    max-width: none;
} 

figure {
    margin: 0;
}

table {
    margin: 0 0 21px 0;
    width: 100%;
}

th {
    text-align: left;
}