.box {
    border-radius: 5px;
    padding: 5px;
    margin: 0 0 $text-margin-bottom 0;
}

.success,
.success-permanent {
    color: #0a942a; 
    background: #ecfef0;
    border: 1px solid #0A942A;
}

.box.error,
.box.error-permanent {
    color: #dc0000; 
    background-color: #fff6f6;
    border: 1px solid #ea4e4e;
}

.success-plain,
.error-plain {
    background: none;
    border: none;
}