/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Overwrite line-height: normal previously set on input;
 * 3. Addresses margins set differently in IE6/7, F3/4, S5, Chrome.
 * 4. Manually set padding to overwrite user stylesheets.
 * 5. Improves usability and consistency of cursor style between image-type 'input' and others.
 * 6. Corrects inability to style clickable 'input' types in iOS.
 */
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;   
    color: $button-text-color;
    background: $button-background-color;
    border: none;
  	/*font-size: 100%; /* 1 */
  	line-height: 1.3; /* 2 */
  	margin: 0 0 21px 0; /* 3 */
  	padding: 8px; /* 4 */
    cursor: pointer; /* 5 */
    -webkit-appearance: button; /* 6 */
    font-weight: 700;
    @include transition-button-hover;    
}

/*
 * Style a.button links back to normal. See rule 6 above.
 */
.button {
    -webkit-appearance: none;
}

/*
 * Color used to ensure link style in button. Example when used with <a class="button">.
 */
input[type="button"]:visited,
input[type="reset"]:visited,
input[type="submit"]:visited,
.button:visited {
    background: $button-background-color;
    color: $button-text-color;
}

/*
 * Color used to ensure link style in button. Example when used with <a class="button">.
 */
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button:hover {
    background: $button-background-color-hover;
    text-decoration: none;
    cursor: pointer;
    color: $button-text-color;
}

/*
 * :focus and :active seperated.
 * We want the background color to return to normal when a mouse click is released.
 */
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
.button:focus {
  color: $button-text-color;
  text-decoration: none;  
}

/*
 * Color used to ensure link style in button. Example when used with <a class="button">.
 */
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,

.button:active {
  color: $button-text-color;  
  background: $button-background-color-hover;
  text-decoration: none;
}


button.full-width,
.button.full-width {
    width: 100%;
}

.button-white-orange,
.button-white-blue {
    background: none;
    border: 3px solid #fff;
}

.button-white-orange:hover,
.button-white-orange:focus,
.button-white-orange:active {
    background: #fff;
    color: $brand-orange;
}

.button-white-blue:hover,
.button-white-blue:focus,
.button-white-blue:active {
    background: #fff;
    color: $brand-blue;
}

.button.button-orange-white {
    background: none;
    border: 3px solid $brand-orange;
    color: $brand-orange;
}

.button-orange-white:hover,
.button-orange-white:focus,
.button-orange-white:active {
    background: $brand-orange;
    color: #fff;
}

.button.no-margin {
    margin: 0;
}

/*
 * Specific to Wordpress Search widget.
 */
input[type="search"].search-field {
    display: inline-block;
    width: auto;
    max-width: none;
    padding: 8px;
    border-top: 1px solid $border-color;
    border-right: none;
    border-bottom: 1px solid $border-color;
    border-left: 1px solid $border-color;   
}

/*
 * Specific to Wordpress Search widget.
 */
.search-submit {
    position: relative;
    top: -2px;
    left: -4px;
}

/*
 * Specific to Wordpress Search widget.
 */
input[type="submit"].search-submit {
    margin: 0;
    line-height: initial;
}