/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE6/7, F3/4, S5, Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
input,
select,
textarea
{
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    margin-bottom: 21px;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="tel"],
input[type="search"] {
    display: block;
    width: 100%;
    max-width: 100%;
    border: 1px solid $border-color;
    padding: 8px;
    border-radius: 0;
    -webkit-appearance: none;
}

input[type="color"] {
    display: block;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus {
}

select,
textarea {
    display: block;
    width: 100%;
    max-width: 100%;
    border: 1px solid $border-color;
    border-radius: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 * 3. Allow only vertical resizing of textareas. H5BP.
 */
textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
    resize: vertical; /* 3 */
    padding: 8px;
}

/*
 * 1. Addresses excess padding in IE8/9.
 */
input[type="checkbox"],
input[type="radio"] {
    padding: 0; /* 1 */
    margin-right: 10px;
}

/*
 * Wrap each checkbox or radio or wrap all elements for inline checkbox or radio.
 */
.checkbox-block {
    display: block;
}

/*
 * Use as class alongside .checkbox-block.
 */
.checkbox-inline input {
    display: inline-block;
    margin-left: 10px;
}

/*
 * Don't adjust first checkbox.
 */
.checkbox-inline input:first-child {
    margin-left: 0;
}

/*
 * Used to ensure inline check box label is inline too, especially if text spans more than one line.
 */
.checkbox-inline label {
    display: inline;
}

/*
 * Addresses appearance set to searchfield in S5, Chrome.
 */
input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}

label {
    display: inline-block;
    margin-bottom: 4px;
}

fieldset {
    border: 2px solid $border-color;
    padding: 21px;
    margin-bottom: 21px;
}

legend {
    padding: 0 10px;
}

/*
 * Corrects inner padding displayed oddly in S5, Chrome on OSX.
 */
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-input-placeholder {
    color: $form-placeholder-color;
}

::-moz-placeholder {
    color: $form-placeholder-color;  
}

:-ms-input-placeholder {  
    color: $form-placeholder-color;  
}