.main-footer {
	margin-top: 40px;
	margin-bottom: 20px;
	padding-top: 10px;
	border-top: $footer-border;
    font-size: 0.903225em; /* 14/15.5 */
}

.main-footer__margin-bottom-40 {
	margin-bottom: 40px;
}

@media screen and (max-width: 767px) {

	.main-footer__navigation {
		margin-bottom: 20px;
	}

}

.main-footer__copyright {
	text-transform: uppercase;
	margin-bottom: 0;
}

.main-footer__logo {
	width: 100px;
	margin-bottom: 5px;
}

.footer-navigation {

}

.footer-navigation ul {
    list-style: none;
    margin: 0 0 $text-margin-bottom 0;
}

.footer-navigation ul li {
    display: inline-block;    
    margin: 0 0 0 20px;
}

.footer-navigation ul li:first-child {
    margin-left: 0;
}

.footer-navigation a {
	color: $text-color;
	font-weight: 400;
}