.main-header {
	margin-bottom: $text-margin-bottom * 2;
}

@media screen and (max-width: 767px) {

	.main-header--mobile-no-header-image {
		margin-bottom: $navigation-mobile-height + ($text-margin-bottom * 2);
	}

}

.logo {
	width: 125px;
	margin-top: 10px;
	margin-right: 6px;
	vertical-align: baseline;
}

.logo--fixed {
	width: 70px;
	margin-top: 5px;
}

.logo--mobile {
	position: absolute;
    left: 50%;
    margin-left: -25px;	
	width: 50px;
	margin-top: 8px;
}

.logo-text {
	font-family: $font-family-logo;
	font-size: 1.935483em; /* 30/15.5 */
}

.logo-text--mobile {
	font-size: 1.419354em; /* 22/15.5 */
}

@media screen and (max-width: 400px) {

	.logo-text--mobile {
		font-size: 1.161290em; /* 18/15.5 */
	}

}

@media screen and (max-width: 370px) {

	.logo-text--mobile {
		display: none;
	}

}

.logo-text:hover,
.logo-text:focus,
.logo-text:active, {
	text-decoration: none;
}

.logo-text__malinky {
	color: $logo-grey-dark;
	font-weight: 400;	
}

.logo-text__media {
	color: $logo-grey-light;
	font-weight: 300;
}

.logo-text__malinky--mobile,
.logo-text__media--mobile {
	color: #fff;
}

/*
 * The main-header-bkg-image are used as backgrounds and overlaid with MM logo.
 * 1. Images CSS is injected into the <head> as they use post_thumbnail.
 */
.main-header-bkg-image {
	background-attachment: fixed, scroll;
	background-position: 50% 0, 50%;
	background-repeat: no-repeat;
	background-size: auto, cover;
  	background-blend-mode: hard-light;	
	height: 800px;
	padding-top: $navigation-bar-height;
	display: table;
}

.main-header-bkg-image__heading {
  	display: table-cell;
  	vertical-align: middle;
}

.main-header-image__heading h2 {
  	color: #fff;
	font-size: 2.258064em; /* 35/15.5 */
  	max-width: 80%;
	margin: 0 auto;
}

@media screen and (max-width: 767px) {

	/*
	 * 1. Images CSS is injected into the <head> as they use post_thumbnail.
	 */
	.main-header-bkg-image {
		height: 595px;
		padding-top: $navigation-mobile-height;
	}

	.main-header-image__heading h2 {
	  	max-width: 70%;
		font-size: 1.806451em; /* 28/15.5 */
	}

}

@media screen and (max-width: 480px) {

	/*
	 * 1. Images CSS is injected into the <head> as they use post_thumbnail.
	 */
	.main-header-bkg-image {
		height: 400px;
		padding-top: $navigation-mobile-height;		
	}

	.main-header-image__heading h2 {
		font-size: 1.677419em; /* 26/15.5 */
	  	max-width: 80%;
	}

}

@media screen and (min-width: 768px) {

	.main-header-bkg-image--not-fixed {
	    height: $main-header-bkg-image - $navigation-bar-height;
	}

}
 
/*
 * The main-header-image is a normal size header.
 * 1. Ensure the image is still contained.
 * 2. Centre the image inside the width 100%.
 */
.main-header-image {
	position: relative;
	width: 100%;	
	max-width: 990px;
	height: $main-header-image-height;
	overflow: hidden;
	margin: $text-margin-bottom * 2 auto 0 auto; /* 2 */
	display: table;
}

/*
 * The main-header-bkg-image-normal is a normal size header but overlaid with MM logo.
 */
.main-header-bkg-image-normal {
	width: 100%;	
	max-width: 990px;
	height: $main-header-image-height;
	margin: $text-margin-bottom * 2 auto 0 auto;
	display: table;	
	background-attachment: scroll;
	background-position: 50% 0, 40%;
	background-repeat: no-repeat;
	background-size: cover, 175%;
  	background-blend-mode: hard-light;	
}

@media screen and (max-width: 767px) {

	/*
	 * 1. Images CSS is injected into the <head> as they use post_thumbnail.
	 */
	.main-header-bkg-image-normal {
		background-size: cover, 200%;
	}


}

@media screen and (max-width: 480px) {

	/*
	 * 1. Images CSS is injected into the <head> as they use post_thumbnail.
	 */
	.main-header-bkg-image-normal {	
		background-size: auto, 240%;
	}



}

@media screen and (max-width: 767px) {

	.main-header-image,
	.main-header-bkg-image-normal {
		margin-top: $navigation-mobile-height;
	}

}

/*
 * 1. Set width and height as actual image is 2000x647 to account for retina.
 */
.main-header-image img {
	position: absolute;
	top: 0;
	left: 50%;
	width: $main-header-image-width; /* 1 */
	height: $main-header-image-height; /* 1 */
	margin-left: -$main-header-image-width / 2;
}

/*
 * 1. Trigger z-index.
 */
.main-header-image__heading {
	position: relative; /* 1 */
	z-index: 9;
	display: table-cell;
  	vertical-align: middle;
}

@media screen and (max-width: 767px) {

    .main-header-image--mobile  {
    	height: $main-header-image-mobile-height; /* 1 */
    }

	/*
	 * 1. Set width and height.
	 */
	.main-header-image--mobile img {
		width: $main-header-image-mobile-width - 1; /* 1 */
		height: $main-header-image-mobile-height; /* 1 */
		margin-left: -$main-header-image-mobile-width / 2;
		z-index: -1;
		border-bottom: none;
	}

}