/*
******************
PAGE HEADER
******************
*/
.page-header {

}

.page-header--narrow {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

@media only screen and (max-width: 767px) {

	.page-header--narrow {
		width: 100%;
	}

}

.page-header__title {
	font-weight: 700;
}

/*
******************
BLOCK IMAGE
******************
*/

.block-image-bkg {
	color: #fff;
	border-bottom-width: 5px; 
	border-bottom-style: solid;
}

.block-image-bkg--orange {
	background: $brand-orange;
	border-bottom-color: $brand-orange-dark;
}

.block-image-bkg--blue {
	background: $brand-blue;
	border-bottom-color: $brand-blue-dark;
}

.block-image-bkg__image {
	padding: 60px 0;
}

.block-image-bkg__image__img {
    max-height: 300px;
}

.col-item.block-image-bkg__text {
	padding: 60px;
}

@media only screen and (max-width: 767px) {

	.block-image-bkg__image {
		padding-bottom: 0;
	}

	.col-item.block-image-bkg__text {
		padding: 60px 30px;
	}

}

/*
******************
BLOCK HALF DIVIDER
******************
*/

@media only screen and (max-width: 767px) {

	.block-half-divider {
		margin-bottom: $text-margin-bottom * 3;
	}

}

/*
******************
BLOCK HALF
******************
*/

.block-half {

}

/*
******************
SERVICE FA
******************
*/

.service-fa {

}

.service-fa__image {
	display: block;
	margin-bottom: $text-margin-bottom / 2;
	text-align: center;
	font-weight: normal;
}

a.service-fa__image--orange {
	color: $brand-orange;
	transition: color 0.25s ease-in-out;
}

.service-fa__image--orange:hover,
.service-fa__image--orange:focus,
.service-fa__image--orange:active {
	color: $brand-orange-dark;
	cursor: pointer;
	text-decoration: none;	
}

a.service-fa__image--blue {
	color: $brand-blue;
	transition: color 0.25s ease-in-out;
}

.service-fa__image--blue:hover,
.service-fa__image--blue:focus,
.service-fa__image--blue:active {
	color: $brand-blue-dark;
	cursor: pointer;
	text-decoration: none;	
}

.service-fa__image-heading {
	margin-bottom: 0;
}

.color-brand-blue a {
	color: $brand-blue;
}

/*
******************
SERVICE IMAGE
******************
*/

.service {
}

@media screen and (max-width: 767px) {

	.service {
		margin-bottom: $text-margin-bottom * 2;
	}

	.service:last-child {
		margin-bottom: 0;
	}

}

/*
 * 1. Set intrinsic ratio of 6:4 for project images.
 */
.service__image {
	position: relative;
	width: 100%; /* 1 */
	padding-bottom: 66.666666%; /* 1 */
	margin-bottom: $text-margin-bottom;	
}

.service__image__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*
******************
IMAGE BLOCK
******************
*/



@media screen and (max-width: 767px) {

	.image-block {
		margin-bottom: $text-margin-bottom;
	}

	.image-block:last-child {
		margin-bottom: 0;
	}

}

/*
 * 1. Set intrinsic ratio of 6:4 for project images.
 */
.image-block__image {
	position: relative;
	width: 100%; /* 1 */
	padding-bottom: 66.666666%; /* 1 */
	margin-bottom: $text-margin-bottom;
}

.image-block__image__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*
******************
PROJECTS USED WITH NO SCRIPT
******************
*/

.projects {
	margin-bottom: $text-margin-bottom * 2;
}

.projects__link {
	display: block;
}

/*
 * 1. Set intrinsic ratio of 6:4 for project images.
 */
.projects__image {
	position: relative;
	width: 100%; /* 1 */
	padding-bottom: 66.666666%; /* 1 */
	margin-bottom: $text-margin-bottom;
}

/*
 * Set to remove the padding bottom created initially by the intrinsic ratio.
 */
.projects__image__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.image-overlay {
	position: absolute;
	top: 0;
	text-align: center;
	width: 100%;
	height: 100%;
	color: #fff;
	opacity: 0;
	background: rgba(242, 101, 34, 0.85);
	transition: opacity 0.3s ease-in-out;
}

.image-overlay:hover {
	opacity: 1;
}

.image-overlay:before {
	content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.image-overlay div {
	display: inline-block;
    vertical-align: middle;
}

.projects__label {

}

.projects__label__name {
	display: inline;
}

.projects__label__cta {
	float: right;
}

/*
******************
PACKERY
******************
*/

.malinky-gallery {

}

.malinky-gallery--blog {
	margin: 40px 0;
}

.lazy {
	background: url(img/logo.svg) 50% no-repeat;
	background-size: 50%; 
}

.packery-container {
	visibility: hidden;
}

.packery-container--loaded {
	visibility: visible;
}

.packery-item {
	width: 32%;
	position: relative;
}

.packery-item.packery-item--half {
	width: 49%;
}

.packery-item.packery-item--two-third {
	width: 66%;
}

.packery-gutter {
	width: 2%;
}

.packery-image__expand {

}

.packery-image__expand:before {
    font-family: 'FontAwesome';
    content: "\f065";
    position: absolute;
    top: 2px;
    right: 2px;
    color: #797a7d;
    z-index: 949;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
    font-weight: normal;
}

.packery-item:hover .packery-image__expand:before {
	color: $brand-orange;
}

.packery-link {
	display: block;
	font-weight: normal; /* 1 */
}

.packery-image {
	position: relative;
    width: 100%;
	padding-bottom: 66.666666%;
}

.packery-image--tall {
	padding-bottom: 137.498804%;
}

.packery-image__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 600px) {

	.packery-item,
	.packery-item.packery-item--half,
	.packery-item.packery-item--two-third {
		width: 100%;
	}

	.packery-gutter {
		width: 5%;
	}

}

.malinky-photoswipe-image {
	display: block;
}

/*
******************
CONTACT
******************
*/

.contact-form input,
.contact-form textarea {
	transition-property: background, border;
	transition-duration: 0.25s;
	transition-timing: ease-in-out;
}

.contact-form input:focus,
.contact-form textarea:focus {
    background: #f5f5f5;
}

.contact-form input[type="submit"]:focus {
	background: $brand-orange-dark;
}

.malinky-captcha {
	margin-bottom: $text-margin-bottom;
}

.malinky-captcha__label,
.cptch_label {
	display: inline;
}

input.error,
textarea.error {
	outline: none;
    border: 1px solid #ea4e4e;
}

label.error {
	display: block;
	margin-bottom: 10px;
	color: #dc0000; 
}

/*
******************
FEEDBACK
******************
*/

.feedback-flickity {
    width: 90%;
    margin: 0 auto;
}

.feedback-flickity-cell {
	width: 100%;
}

.feedback-flickity-cell p {
    padding: 0 20px;
}

/*
******************
CAN WE HELP
******************
*/

.can-we-help {
	background-image: url('../../uploads/can-we-help.jpg');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-attachment: fixed;
	padding: 80px 0;
}

.can-we-help__content {
	width: 80%;
	margin: 0 auto;
}