/*
 * Used inbetween .main-header and any articles, sections, posts, pages displayed.
 * Acts as a sub header to page for example 'Viewing Monthly Archives: May'.
 */ 
.content-introduction {

}

.content-introduction__title {
	text-transform: uppercase;
}

.content-introduction__description {

}

/*
 * Used to contain the post title and meta data, like posted on date.
 */ 
.content-header {

}

.content-header__title {
	text-transform: uppercase;
	margin-bottom: 0;
}

.content-header__meta {
	margin-bottom: 20px;
	color: $text-color-light;
	font-weight: 700;
}

.content-header__meta__date {

}

.content-header__meta__date--published {

}

.content-header__meta__date--updated {

}