.content-main {

}

.content-main__image {

}

.content-main__image img {
	margin-bottom: $text-margin-bottom;
}

.content-main__text {

}

.content-summary {
	background: $blog-grey;
	margin-bottom: $text-margin-bottom * 3;
}

.content-summary:last-child {
	margin-bottom: 31px;
}

.content-summary__image {
}

.content-summary__image a {
    display: block;
    overflow: hidden;
}

.content-summary__text {
	padding: 20px 10px;
}

.content-summary__text__more-link {

}