@media screen and (max-width: 767px) {

	.sidebar-flex {
		display: flex;
		flex-direction: column;
	}

	.sidebar-flex__content {
		order: 1;
	}

	.sidebar-flex__sidebar {
		order: 0;
	}

}

.sidebar {
	background: #F6F6F6;
	padding: 10px;
}

.sidebar-mobile,
.sidebar-mobile-inside {
	display: none;
	background: $blog-grey;
}

.sidebar-mobile-inside {
	padding: 10px;
}

@media screen and (max-width: 767px) {
	
	.sidebar {
		display: none;
	}

	.sidebar-mobile {
		display: block;
		margin-bottom: $text-margin-bottom * 2;
	}

}

.widget,
.widget-faux {
	margin-bottom: $text-margin-bottom * 2;
}

.widget-title {
	text-transform: uppercase;
}

.sidebar-mobile a.widget-title {
	display: block;
	height: 40px;
	margin-bottom: $text-margin-bottom;
	background: $brand-orange;
	color: #fff;
	padding: 0 0 0 8px;
	line-height: 40px;
    transition: background 0.25s ease-in-out;
    font-family: $font-family-heading;
}

.sidebar-mobile a.widget-title:after {
	content: "";
}

.sidebar-mobile a.widget-title:hover,
.sidebar-mobile a.widget-title:active, 
.sidebar-mobile a.widget-title:focus {
	background: $brand-orange-dark;
	cursor: pointer;
	text-decoration: none;
}

.widget-title-toggle__bar {
    display: inline-block;
    width: 20px;
    height: 3px;
    transition: transform 0.3s;
    background: #fff;
	position: relative;
  	top: -5px;
}

.widget-title-toggle__bar:nth-child(2) {
    transform: rotate(45deg);
    margin-left: 20px;
}

.widget-title-toggle__bar:nth-child(3) {
    transform: translatex(-8px) rotate(-45deg);
}

.widget-title:not(.collapsed) .widget-title-toggle__bar:nth-child(2) {
    transform: translatex(6px) rotate(45deg);
}

.widget-title:not(.collapsed) .widget-title-toggle__bar:nth-child(3) {
    transform: translatex(-14px) rotate(-45deg);
}

.widget ul,
.tagcloud {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.widget li {
	margin-bottom: 0;
}

.widget--recent-posts li {
	margin-bottom: 10px;
}

/*
 * 1. This creates full width links but knocks any post counts (1) onto second line.
 *    This is fixed in template-functions.php filter.
 *    If it was display block. But not now.
 */
.widget a,
.widget a:visited  {
}

.widget a:hover,
.widget a:active,
.widget a:focus,
.widget a.active {
}

/*
 * Remove border on mobile widget header.
 */
.widget > a,
.widget > a:visited,
.widget > a:hover,
.widget > a:active,
.widget > a:focus  {
}

/*
 * Tagcloud in .widget but needs some extra style to overwrite text.
 */
.tagcloud a,
.tagcloud a:visited {
	display: inline-block;
	background: $brand-orange;
	min-height: 36px;
	padding: 9px 5px 0 8px;
	font-weight: 700;
	font-size: inherit !important; /* 1 */	
	margin: 0 2px 6px 0;
	@include transition-button-hover(background);
}

.tagcloud a:hover,
.tagcloud a:active,
.tagcloud a:focus {
	background: $brand-orange-dark;
}

.tagcloud a:before {
	margin-right: 0;
	content: "";
}

.widget_search label h5 {
	padding: 0 0 6px 0;
	margin: 0;
}

.services-shortcode a {
	display: inline-block;
	margin-bottom: $text-margin-bottom;
}

.services-shortcode__active {
	text-decoration: underline;
}