body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, ol, ul, form, fieldset, legend, figure, table, th, td, caption, hr {
    margin:0;
    padding:0;
}

/* 
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
html {
	 box-sizing: border-box; /* 1 */
}

/* 
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
*,
*:before,
*:after {
	 box-sizing: inherit;
}

html,
button,
input,
select,
textarea {
    color: $text-color;  
}

/*
 * 1. Keeps page centered in all browsers regardless of content height.
 */
html {
    font-family: $font-family;
  	font-size: $font-size-base;
  	line-height: 1.3;
  	overflow-y: scroll; /* 1 */
  	min-height:100%;
  	-webkit-text-size-adjust: 100%;
  	-ms-text-size-adjust: 100%;
  	-moz-osx-font-smoothing: grayscale;
  	-webkit-font-smoothing: antialiased;
}

body,
button,
input,
select,
textarea {
  	-webkit-text-size-adjust: 100%;
  	-ms-text-size-adjust: 100%;
  	-moz-osx-font-smoothing: grayscale;	
  	-webkit-font-smoothing: antialiased;
}