/*
 * Font Families
 */
$font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-heading: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-logo: "Oxygen", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base: 0.96875em; /*15.5/16*/

/*
 * Colors
 */
$text-color: #797a7d;
$text-color-light: #bcbec0;
$logo-orange: #f26522;
$logo-blue: #00aeef;
$logo-grey-dark: #808285;
$logo-grey-light: #d1d3d4;
$brand-orange: #f26522; /* rgba(242, 101, 34, 0.9) */
$brand-orange-dark: #c74609;
$brand-orange-light: #ff874e;
$brand-blue: #20609d;
$brand-blue-dark: #0f4981;
$brand-blue-light: #3b72a6;
$blog-grey: #F6F6F6;

/*
 * Social Media
 */
$twitter: #1bb2e9;
$facebook: #3c599b;
$googleplus: #dd4c39;
$linkedin: #0274b3;

/* Text */
$text-margin-bottom: 21px;
$link-color: $brand-orange;
$link-color-hover: $brand-orange;

/*
 * Main and fixed navigation.
 * 1. Nudge content below navigation. Also used to nudge mobile navigation in _wrap.scss.
 * 2. Used to calculate scroll positions when main navigation is fixed to start with.
 * 3. Should be more scrollTop in main.js (80px).
 */
$navigation-margin-bottom: 10px; /* 1 */
$navigation-bar-height: 73px; /* 2 */
$navigation-height: 100px; /* 3 */
$navigation-fixed-height: 41px;
$navigation-bar-background-color: $brand-orange;
$navigation-bar-border-width: 0;
$navigation-bar-border-color: none;
$navigation-link-color: $text-color;
$navigation-link-color-hover: $brand-orange;
$navigation-font-family: $font-family;
$navigation-font-size: 1em;
$navigation-font-weight: 700;

/*
 * Dropdown navigation.
 */
$navigation-dropdown-nudge: 4px;
$navigation-dropdown-background-color: #fff;
$navigation-dropdown-border-width: 1px;
$navigation-dropdown-border-color: $text-color-light;
$navigation-dropdown-link-color: $text-color;
$navigation-dropdown-link-color-hover: $brand-orange;

/*
 * Mobile navigation.
 * 1. Fixed mobile navigation bar .mobile-navigation-bar.
 * 1a. Set to really faded on page load. Switch to orange on scroll.
 * 1b. Set color of bar to the same as 3 when on.
 * 2. Usually color of icon fonts on fixed mobile navigation bar. No hover as tends to be touch screen.
 * 3. Mobile navigation that slides in.
 * 4. Currently used on active and focus states.
 * 5. Border and fake border of the links.
 * 6. Text color of the links that slide in.
 */
$navigation-mobile-height: 41px;
$navigation-mobile-bar-background-color-start: rgba(40, 40, 40, 0.2); /* 1a */
$navigation-mobile-bar-background-color: $brand-orange; /* 1 */
$navigation-mobile-bar-background-color-on: rgba(40, 40, 40, 0.9); /* 1b */
$navigation-mobile-bar-link-color: #fff; /* 2 */
$navigation-mobile-background-color: rgba(40, 40, 40, 0.9); /* 3 */
$navigation-mobile-link-background-color: $brand-orange; /* 4 */
$navigation-mobile-link-border-color: rgba(0, 0, 0, 0); /* 5 */
$navigation-mobile-link-border-color-hover: $brand-orange; /* 5 */
$navigation-mobile-link-color: #fff; /* 6 */
$navigation-mobile-link-color-hover: #fff; /* 6 */
$navigation-mobile-font-family: $font-family;
$navigation-mobile-font-size: 1em; /* 15.5/15.5 */
$navigation-mobile-seperator: 1px solid #5a5a5a;

/*
 * Main header image.
 */
$main-header-bkg-image: 800px;
$main-header-image-width: 990px;
$main-header-image-height: 400px;
$main-header-image-mobile-width: 768px;
$main-header-image-mobile-height: 310px;

/*
 * Footer
 */
$footer-background-color: none;
$footer-border: 1px solid $text-color-light;

/*
 * Button
 */
$button-background-color: $brand-orange;
$button-background-color-hover: $brand-orange-dark;
$button-border-bottom: 3px solid $brand-orange-dark;
$button-text-color: #fff;
$button-font-family: $font-family-logo;

/*
 * Other
 */
$form-placeholder-color: #bababa;

$border-color: $text-color-light;

$back-to-top-color: $brand-orange;
$back-to-top-color-hover: $brand-orange-dark;