/* 
 * Remove first gutter. negates padding-left on .col-item.
 */
.col {
    margin:0;   
    padding:0;
    margin-left: -24px;
}

/*
 * When a .col will have vertical alignment from a col-item within it.
 * Use this on the main .col that sets the overall height of the div.
 * .col--Modifier.
 */
.col--relative {
    position: relative;
}

/*
 * Used on the inner div that will be aligned vertically.
 * CHECK STANDALONE DIV.
 */
.col-relative-inner {
    position: absolute;
    top: 0;
    bottom: 0;
}

/*
 * Span for vertical alignment needs to be empty and before element to align.
 * CHECK STANDALONE DIV.
 */
.vertical-align-outer {
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}

/*
 * No gutters. Can also be used when a background color or image is applied to the .col.
 * .col--Modifier.
 */
.col--gutterless {
    margin-left: 0;
}
.col--gutterless > .col-item {
    padding-left: 0;
}

/*
 * Centre an .col.
 * .col--Modifier.
 */
.col--align-center {
    text-align: center;
}
.col--align-center > .col-item {
    text-align: left;
}

/*
 * Right align .col.
 * .col--Modifier. 
 */
.col--align-right {
    text-align: right;
}
.col--align-right > .col-item {
    text-align: left;
}

/*
 * Make .col gutters wider.
 * .col--Modifier. 
 */
.col--wide {
    margin-left: -48px;
}
.col--wide > .col-item {
    padding-left: 48px;
}

/*
 * Make .col gutters narrower.
 * .col--Modifier. 
 */
.col--narrow {
    margin-left: -12px;
}
.col--narrow > .col-item {
    padding-left: 12px;
}

/* 
 * Add bottom margin to .cols.
 * .col--Modifier.
 */
.col--margin-bottom-20 {
    margin-bottom: 20px;
}
.col--margin-bottom-40 {
    margin-bottom: 40px;
}
.col--margin-bottom-60 {
    margin-bottom: 60px;
}

/* 
 * Add padding to .cols.
 * .col--Modifier.
 */
.col--padding-20 {
    padding: 20px 0;
}
.col--padding-40 {
    padding: 40px 0;
}
.col--padding-60 {
    padding: 60px 0;
}

/*
 * Used to position an image to the right of text on larger screens and back to above on smaller.
 * Done by adjusting the order.
 * 1. Flow direction
 * 2. Wrap into rows if they don't fit on a line. Used once breakpoint is reached to move onto seperate lines.
 * 3. Vertically align flex items. .col-item--middle takes care of this on non flex items.
 */
.col-image-flex {
    display: flex;
    flex-direction: row; /* 1 */
    flex-wrap: wrap; /* 2 */
    align-items: center; /* 3 */
}

/*
 * Modifier to set flex items to top.
 */
.col-image-flex--top {
    align-items: flex-start;
}

@media only screen and (min-width: 768px) {

    .col-image-flex > .col-item:first-child {
        order: 2;
        align-self: flex-start;
    }

}

/*
 * 1. Instead of floating.
 * 2. Gutter.
 * 3. all .col-items are full width unless specified. Mobile First.
 * 4. Align inline-block elements.
 */
.col-item {
    display: inline-block; /* 1 */
    padding-left: 24px; /* 2 */
    width: 100%; /* 3 */
    vertical-align: top; /* 4 */
    box-sizing: border-box;
}

/*
 * Align .col-item middle.
 * .col-item--Modifier.
 */
.col-item--middle {
    vertical-align: middle;
}

/*
 * Align .col-item bottom.
 * .col-item--Modifier.
 */
.col-item--bottom {
    vertical-align: bottom;
}

/*
 * Align .col-item left. Used to move centered or right align normally with medium-- small-- modifier.
 * .col-item--Modifier.
 */
.col-item--align-left {
    text-align: left;
}

/*
 * Align .col-item center.
 * .col-item--Modifier.
 */
.col-item--align-center {
    text-align: center;
}

/*
 * Align .col-item right.
 * .col-item--Modifier.
 */
.col-item--align-right {
    text-align: right;
}

/*
 * Hide / Show.
 */
.col-item--hide {
    display: none;
}

.col-item--show {
    display: inline-block;
}

/*
 * Vertical divider.
 * This version uses flex and position relative on the .col-item--vertical-divider to provide
 * the context for the position:absolute of pseudo element.
 * This method works in IE10 +.
 * Need to apply .col--vertical-divider .col--narrow to parent .col.
 */
.col--vertical-divider {
    display: flex;

}

@media only screen and (max-width: 767px) { 

    .col--vertical-divider {
        display: block;
    }

}

.col-item--vertical-divider {
    position: relative;
}

.col-item--vertical-divider:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    left: 50%;
    margin-left: 5.5px;
    background: $border-color;
}

/*
 * No flexbox on lt-ie10 so exclude divider.
 */
.lt-ie10 .col-item--vertical-divider {
    visibility: hidden;
}
 
.col-item-full { width: 100%; }

.col-item-half { width: 50%; }

.col-item-third { width: 33.333% }
.col-item-two-third { width: 66.666%; }

.col-item-quarter { width: 25%; }
.col-item-three-quarter { width: 75%; }

.col-item-1-5 { width: 20%; }
.col-item-2-5 { width: 40%; }
.col-item-3-5 { width: 60%; }
.col-item-4-5 { width: 80%; }

.col-item-1-6 { width: 16.666%; }
.col-item-5-6 { width: 83.333%; }

.col-item-1-8 { width: 12.5%; }
.col-item-3-8 { width: 37.5%; }
.col-item-5-8 { width: 62.5%; }
.col-item-6-8 { width: 75%; }
.col-item-7-8 { width: 87.5%; }

.col-item-1-10 { width: 10%; }
.col-item-2-10 { width: 20%; }
.col-item-3-10 { width: 30%; }
.col-item-4-10 { width: 40%; }
.col-item-6-10 { width: 60%; }
.col-item-7-10 { width: 70%; }
.col-item-8-10 { width: 80%; }
.col-item-9-10 { width: 90%; }

@media only screen and (min-width: 990px) {

    /*
     * Centre an .col.
     * .col--Modifier.
     */
    .col--align-center--xlarge {
        text-align: center;
    }
    .col--align-center--xlarge > .col-item {
        text-align: left;
    }

    /*
     * Right align .col.
     * .col--Modifier. 
     */
    .col--align-right--xlarge {
        text-align: right;
    }
    .col--align-right--xlarge > .col-item {
        text-align: left;
    }

    /*
     * Make .col gutters wider.
     * .col--Modifier. 
     */
    .col--wide--xlarge {
        margin-left: -48px;
    }
    .col--wide--xlarge > .col-item {
        padding-left: 48px;
    }

    /*
     * Make .col gutters narrower.
     * .col--Modifier. 
     */
    .col--narrow--xlarge {
        margin-left: -12px;
    }
    .col--narrow--xlarge > .col-item {
        padding-left: 12px;
    }

    /* 
     * Add bottom margin to .cols.
     * .col--Modifier--Modifier.
     */
    .col--margin-bottom-20--xlarge {
        margin-bottom: 20px;
    }
    .col--margin-bottom-40--xlarge {
        margin-bottom: 40px;
    }
    .col--margin-bottom-60--xlarge {
        margin-bottom: 60px;
    }

    /* 
     * Add padding to .cols.
     * .col--Modifier--Modifier.
     */
    .col--padding-20--xlarge {
        padding: 20px 0;
    }
    .col--padding-40--xlarge {
        padding: 40px 0;
    }
    .col--padding-60--xlarge {
        padding: 60px 0;
    }

    .col-item-full--xlarge { width: 100%; }

    .col-item-half--xlarge { width: 50%; }

    .col-item-third--xlarge { width: 33.333% }
    .col-item-two-third--xlarge { width: 66.666%; }

    .col-item-quarter--xlarge { width: 25%; }
    .col-item-three-quarter--xlarge { width: 75%; }

    .col-item-1-5--xlarge { width: 20%; }
    .col-item-2-5--xlarge { width: 40%; }
    .col-item-3-5--xlarge { width: 60%; }
    .col-item-4-5--xlarge { width: 80%; }

    .col-item-1-6--xlarge { width: 16.666%; }
    .col-item-5-6--xlarge { width: 83.333%; }

    .col-item-1-8--xlarge { width: 12.5%; }
    .col-item-3-8--xlarge { width: 37.5%; }
    .col-item-5-8--xlarge { width: 62.5%; }
    .col-item-6-8--xlarge { width: 75%; }
    .col-item-7-8--xlarge { width: 87.5%; }

    .col-item-1-10--xlarge { width: 10%; }
    .col-item-2-10--xlarge { width: 20%; }
    .col-item-3-10--xlarge { width: 30%; }
    .col-item-4-10--xlarge { width: 40%; }
    .col-item-6-10--xlarge { width: 60%; }
    .col-item-7-10--xlarge { width: 70%; }
    .col-item-8-10--xlarge { width: 80%; }
    .col-item-9-10--xlarge { width: 90%; }

    /*
     * See full size .col-item above for the below rules.
     */
    .col-item--middle--xlarge {
        vertical-align: middle;
    }

    .col-item--bottom--xlarge {
        vertical-align: bottom;
    }

    .col-item--align-left--xlarge {
        text-align: left;
    }

    .col-item--align-center--xlarge {
        text-align: center;
    }

    .col-item--align-right--xlarge {
        text-align: right;
    }

    /*
     * Hide / Show.
     */
    .col-item--hide--xlarge {
        display: none;
    }

    .col-item--show--xlarge {
        display: inline-block;
    }

    /*
     * Used to make an item full width when it isn't normally.
     * Faux modifier as .full-width doesn't exist.
     */
    .full-width--xlarge {
        width: 100%;
    }

}

@media only screen and (min-width: 768px) and (max-width: 989px) {

    /*
     * Centre an .col.
     * .col--Modifier.
     */
    .col--align-center--large {
        text-align: center;
    }
    .col--align-center--large > .col-item {
        text-align: left;
    }

    /*
     * Right align .col.
     * .col--Modifier. 
     */
    .col--align-right--large {
        text-align: right;
    }
    .col--align-right--large > .col-item {
        text-align: left;
    }

    /*
     * Make .col gutters wider.
     * .col--Modifier. 
     */
    .col--wide--large {
        margin-left: -48px;
    }
    .col--wide--large > .col-item {
        padding-left: 48px;
    }

    /*
     * Make .col gutters narrower.
     * .col--Modifier. 
     */
    .col--narrow--large {
        margin-left: -12px;
    }
    .col--narrow--large > .col-item {
        padding-left: 12px;
    }

    /* 
     * Add bottom margin to .cols.
     * .col--Modifier--Modifier.
     */
    .col--margin-bottom-20--large {
        margin-bottom: 20px;
    }
    .col--margin-bottom-40--large {
        margin-bottom: 40px;
    }
    .col--margin-bottom-60--large {
        margin-bottom: 60px;
    }

    /* 
     * Add padding to .cols.
     * .col--Modifier--Modifier.
     */
    .col--padding-20--large {
        padding: 20px 0;
    }
    .col--padding-40--large {
        padding: 40px 0;
    }
    .col--padding-60--large {
        padding: 60px 0;
    }

    .col-item-full--large { width: 100%; }

    .col-item-half--large { width: 50%; }

    .col-item-third--large { width: 33.333% }
    .col-item-two-third--large { width: 66.666%; }

    .col-item-quarter--large { width: 25%; }
    .col-item-three-quarter--large { width: 75%; }

    .col-item-1-5--large { width: 20%; }
    .col-item-2-5--large { width: 40%; }
    .col-item-3-5--large { width: 60%; }
    .col-item-4-5--large { width: 80%; }

    .col-item-1-6--large { width: 16.666%; }
    .col-item-5-6--large { width: 83.333%; }

    .col-item-1-8--large { width: 12.5%; }
    .col-item-3-8--large { width: 37.5%; }
    .col-item-5-8--large { width: 62.5%; }
    .col-item-6-8--large { width: 75%; }
    .col-item-7-8--large { width: 87.5%; }

    .col-item-1-10--large { width: 10%; }
    .col-item-2-10--large { width: 20%; }
    .col-item-3-10--large { width: 30%; }
    .col-item-4-10--large { width: 40%; }
    .col-item-6-10--large { width: 60%; }
    .col-item-7-10--large { width: 70%; }
    .col-item-8-10--large { width: 80%; }
    .col-item-9-10--large { width: 90%; }

    /*
     * See full size .col-item above for the below rules.
     */
    .col-item--middle--large {
        vertical-align: middle;
    }

    .col-item--bottom--large {
        vertical-align: bottom;
    }

    .col-item--align-left--large {
        text-align: left;
    }

    .col-item--align-center--large {
        text-align: center;
    }

    .col-item--align-right--large {
        text-align: right;
    }

    /*
     * Hide / Show.
     */
    .col-item--hide--large {
        display: none;
    }

    .col-item--show--large {
        display: inline-block;
    }

    /*
     * Used to make an item full width when it isn't normally.
     * Faux modifier as .full-width doesn't exist.
     */
    .full-width--large {
        width: 100%;
    }

}

@media only screen and (min-width: 481px) and (max-width: 767px) { 

    /*
     * Centre an .col.
     * .col--Modifier.
     */
    .col--align-center--medium {
        text-align: center;
    }
    .col--align-center--medium > .col-item {
        text-align: left;
    }

    /*
     * Right align .col.
     * .col--Modifier. 
     */
    .col--align-right--medium {
        text-align: right;
    }
    .col--align-right--medium > .col-item {
        text-align: left;
    }

    /*
     * Make .col gutters wider.
     * .col--Modifier. 
     */
    .col--wide--medium {
        margin-left: -48px;
    }
    .col--wide--medium > .col-item {
        padding-left: 48px;
    }

    /*
     * Make .col gutters narrower.
     * .col--Modifier. 
     */
    .col--narrow--medium {
        margin-left: -12px;
    }
    .col--narrow--medium > .col-item {
        padding-left: 12px;
    }

    /* 
     * Add bottom margin to .cols.
     * .col--Modifier--Modifier.
     */
    .col--margin-bottom-20--medium {
        margin-bottom: 20px;
    }
    .col--margin-bottom-40--medium {
        margin-bottom: 40px;
    }
    .col--margin-bottom-60--medium {
        margin-bottom: 60px;
    }

    /* 
     * Add padding to .cols.
     * .col--Modifier--Modifier.
     */
    .col--padding-20--medium {
        padding: 20px 0;
    }
    .col--padding-40--medium {
        padding: 40px 0;
    }
    .col--padding-60--medium {
        padding: 60px 0;
    }

    .col-item-full--medium { width: 100%; }

    .col-item-half--medium { width: 50%; }

    .col-item-third--medium { width: 33.333% }
    .col-item-two-third--medium { width: 66.666%; }

    .col-item-quarter--medium { width: 25%; }
    .col-item-three-quarter--medium { width: 75%; }

    .col-item-1-5--medium { width: 20%; }
    .col-item-2-5--medium { width: 40%; }
    .col-item-3-5--medium { width: 60%; }
    .col-item-4-5--medium { width: 80%; }

    .col-item-1-6--medium { width: 16.666%; }
    .col-item-5-6--medium { width: 83.333%; }

    .col-item-1-8--medium { width: 12.5%; }
    .col-item-3-8--medium { width: 37.5%; }
    .col-item-5-8--medium { width: 62.5%; }
    .col-item-6-8--medium { width: 75%; }
    .col-item-7-8--medium { width: 87.5%; }

    .col-item-1-10--medium { width: 10%; }
    .col-item-2-10--medium { width: 20%; }
    .col-item-3-10--medium { width: 30%; }
    .col-item-4-10--medium { width: 40%; }
    .col-item-6-10--medium { width: 60%; }
    .col-item-7-10--medium { width: 70%; }
    .col-item-8-10--medium { width: 80%; }
    .col-item-9-10--medium { width: 90%; }

    /*
     * See full size col-item above for the below rules.
     */
    .col-item--middle--medium {
        vertical-align: middle;
    }

    .col-item--bottom--medium {
        vertical-align: bottom;
    }

    .col-item--align-left--medium {
        text-align: left;
    }

    .col-item--align-center--medium {
        text-align: center;
    }

    .col-item--align-right--medium {
        text-align: right;
    }

    /*
     * Hide / Show.
     */
    .col-item--hide--medium {
        display: none;
    }

    .col-item--show--medium {
        display: inline-block;
    }

    /*
     * Used to make an item full width when it isn't normally.
     * Faux modifier as .full-width doesn't exist.
     */
    .full-width--medium {
        width: 100%;
    }

}

@media only screen and (max-width: 480px) { 

    /*
     * Centre an .col.
     * .col--Modifier.
     */
    .col--align-center--small {
        text-align: center;
    }
    .col--align-center--small > .col-item {
        text-align: left;
    }

    /*
     * Right align .col.
     * .col--Modifier. 
     */
    .col--align-right--small {
        text-align: right;
    }
    .col--align-right--small > .col-item {
        text-align: left;
    }
    
    /*
     * Make .col gutters wider.
     * .col--Modifier. 
     */
    .col--wide--small {
        margin-left: -48px;
    }
    .col--wide--small > .col-item {
        padding-left: 48px;
    }

    /*
     * Make .col gutters narrower.
     * .col--Modifier. 
     */
    .col--narrow--small {
        margin-left: -12px;
    }
    .col--narrow--small > .col-item {
        padding-left: 12px;
    }
    
    /* 
     * Add bottom margin to .cols.
     * .col--Modifier--Modifier.
     */
    .col--margin-bottom-20--small {
        margin-bottom: 20px;
    }
    .col--margin-bottom-40--small {
        margin-bottom: 40px;
    }
    .col--margin-bottom-60--small {
        margin-bottom: 60px;
    }

    /* 
     * Add padding to .cols.
     * .col--Modifier--Modifier.
     */
    .col--padding-20--small {
        padding: 20px 0;
    }
    .col--padding-40--small {
        padding: 40px 0;
    }
    .col--padding-60--small {
        padding: 60px 0;
    }

    .col-item-full--small { width: 100%; }

    .col-item-half--small { width: 50%; }

    .col-item-third--small { width: 33.333% }
    .col-item-two-third--small { width: 66.666%; }

    .col-item-quarter--small { width: 25%; }
    .col-item-three-quarter--small { width: 75%; }

    .col-item-1-5--small { width: 20%; }
    .col-item-2-5--small { width: 40%; }
    .col-item-3-5--small { width: 60%; }
    .col-item-4-5--small { width: 80%; }

    .col-item-1-6--small { width: 16.666%; }
    .col-item-5-6--small { width: 83.333%; }

    .col-item-1-8--small { width: 12.5%; }
    .col-item-3-8--small { width: 37.5%; }
    .col-item-5-8--small { width: 62.5%; }
    .col-item-6-8--small { width: 75%; }
    .col-item-7-8--small { width: 87.5%; }

    .col-item-1-10--small { width: 10%; }
    .col-item-2-10--small { width: 20%; }
    .col-item-3-10--small { width: 30%; }
    .col-item-4-10--small { width: 40%; }
    .col-item-6-10--small { width: 60%; }
    .col-item-7-10--small { width: 70%; }
    .col-item-8-10--small { width: 80%; }
    .col-item-9-10--small { width: 90%; }

    /*
     * See full size col-item above for the below rules.
     */
    .col-item--middle--small {
        vertical-align: middle;
    }

    .col-item--bottom--small {
        vertical-align: bottom;
    }

    .col-item--align-left--small {
        text-align: left;
    }

    .col-item--align-center--small {
        text-align: center;
    }

    .col-item--align-right--small {
        text-align: right;
    } 

    /*
     * Hide / Show.
     */
    .col-item--hide--small {
        display: none;
    }

    .col-item--show--small {
        display: inline-block;
    }
    
    /*
     * Used to make an item full width when it isn't normally.
     * Faux modifier as .full-width doesn't exist.
     */
    .full-width--small {
        width: 100%;
    }  

}