/*
 * Used for a full width block.
 */
.wrap-full {
    width: 100%;
    margin: 0 auto;
}

/*
 * Used for a block the width of the nav.
 */
.wrap-1190 {
    max-width: 1190px;
    margin: 0 auto;
}

/*
 * Used for inner of full width block or standalone non full width block.
 */
.wrap {
    max-width: 990px;
    margin: 0 auto;
    padding: 0 5px; /* 1 */

}

/*
 * Blur the whole wrap when mobile navigation is shown.
 * 1. Manually prefix filter on transition as webkit doesn't use it but yet it doesn't work.
 * 1. These are technically in the wrong order as prefixed version is last but webkit disables this for unprefixed version if not.
 */
.wrap--blur {
    filter: blur(5px);
    transition: filter 0.1s linear 0.1s; /* 1 */    
    transition: -webkit-filter 0.1s linear 0.1s; /* 1 */    
}

/*
 * Reset blur if window is resized when mobile navigation is on.
 */
@media screen and (min-width: 768px) {

    .wrap--blur {
        filter: blur(0);
    }

}