@charset "UTF-8";
/*

Theme Name: Malinky Media Theme
Theme URI: https://github.com/malinky/malinky-wp-starter-theme
Author: Craig Ramsay
Author URI: https://github.com/malinky
Description: Malinky Media Theme
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: malinky

This theme has been based around a number of others which are outlined below:

Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
Blueprint http://www.blueprintcss.org/
Harry Roberts http://csswizardry.com/ and his great CSS guidelines http://cssguidelin.es/
HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/

*/
/*
**********************************************************************
CONTENTS
**********************************************************************
*/
/*
NORMALIZE
NORMALIZE ADJUST
GRID
WRAP
TYPOGRAPHY
COLORS
ELEMENTS
WARNINGS
FORMS
BUTTONS
LINKS
HEADER
MAIN NAVIGATION
MOBILE NAVIGATION
OTHER NAVIGATION
PAGINATION
FOOTER
POSTS AND PAGES
ALIGNMENT
GOOGLE MAPS
PHOTOSWIPE
FLICKITY
PRINT
MEDIA QUERIES
*/
@import url("http://fonts.googleapis.com/css?family=Lato:400,700,400italic|Ubuntu:700|Oxygen:400,300");
/*
 * Font Families
 */
/*15.5/16*/
/*
 * Colors
 */
/* rgba(242, 101, 34, 0.9) */
/*
 * Social Media
 */
/* Text */
/*
 * Main and fixed navigation.
 * 1. Nudge content below navigation. Also used to nudge mobile navigation in _wrap.scss.
 * 2. Used to calculate scroll positions when main navigation is fixed to start with.
 * 3. Should be more scrollTop in main.js (80px).
 */
/* 1 */
/* 2 */
/* 3 */
/*
 * Dropdown navigation.
 */
/*
 * Mobile navigation.
 * 1. Fixed mobile navigation bar .mobile-navigation-bar.
 * 1a. Set to really faded on page load. Switch to orange on scroll.
 * 1b. Set color of bar to the same as 3 when on.
 * 2. Usually color of icon fonts on fixed mobile navigation bar. No hover as tends to be touch screen.
 * 3. Mobile navigation that slides in.
 * 4. Currently used on active and focus states.
 * 5. Border and fake border of the links.
 * 6. Text color of the links that slide in.
 */
/* 1a */
/* 1 */
/* 1b */
/* 2 */
/* 3 */
/* 4 */
/* 5 */
/* 5 */
/* 6 */
/* 6 */
/* 15.5/15.5 */
/*
 * Main header image.
 */
/*
 * Footer
 */
/*
 * Button
 */
/*
 * Other
 */
/* Chrome, Opera > 12.1, Opera Mobile >= 24, Safari  */
@-webkit-keyframes malinky-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox > 15 */
@keyframes malinky-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.malinky-fade-in {
  -webkit-animation: malinky-fade-in 0.3s ease-in 0.15s backwards;
          animation: malinky-fade-in 0.3s ease-in 0.15s backwards;
}

.malinky-fade-in-no-delay {
  -webkit-animation: malinky-fade-in 0.3s ease-in backwards;
          animation: malinky-fade-in 0.3s ease-in backwards;
}

.malinky-fade-in-long-delay {
  -webkit-animation: malinky-fade-in 0.3s ease-in 0.5s backwards;
          animation: malinky-fade-in 0.3s ease-in 0.5s backwards;
}

/*
**********************************************************************
NORMALIZE
**********************************************************************
*/
/* normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*
**********************************************************************
NORMALIZE ADJUST
**********************************************************************
*/
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, ol, ul, form, fieldset, legend, figure, table, th, td, caption, hr {
  margin: 0;
  padding: 0;
}

/* 
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
html {
  box-sizing: border-box;
  /* 1 */
}

/* 
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
button,
input,
select,
textarea {
  color: #797a7d;
}

/*
 * 1. Keeps page centered in all browsers regardless of content height.
 */
html {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.96875em;
  line-height: 1.3;
  overflow-y: scroll;
  /* 1 */
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body,
button,
input,
select,
textarea {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/*
**********************************************************************
GRID
**********************************************************************
*/
/* 
 * Remove first gutter. negates padding-left on .col-item.
 */
.col {
  margin: 0;
  padding: 0;
  margin-left: -24px;
}

/*
 * When a .col will have vertical alignment from a col-item within it.
 * Use this on the main .col that sets the overall height of the div.
 * .col--Modifier.
 */
.col--relative {
  position: relative;
}

/*
 * Used on the inner div that will be aligned vertically.
 * CHECK STANDALONE DIV.
 */
.col-relative-inner {
  position: absolute;
  top: 0;
  bottom: 0;
}

/*
 * Span for vertical alignment needs to be empty and before element to align.
 * CHECK STANDALONE DIV.
 */
.vertical-align-outer {
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}

/*
 * No gutters. Can also be used when a background color or image is applied to the .col.
 * .col--Modifier.
 */
.col--gutterless {
  margin-left: 0;
}

.col--gutterless > .col-item {
  padding-left: 0;
}

/*
 * Centre an .col.
 * .col--Modifier.
 */
.col--align-center {
  text-align: center;
}

.col--align-center > .col-item {
  text-align: left;
}

/*
 * Right align .col.
 * .col--Modifier. 
 */
.col--align-right {
  text-align: right;
}

.col--align-right > .col-item {
  text-align: left;
}

/*
 * Make .col gutters wider.
 * .col--Modifier. 
 */
.col--wide {
  margin-left: -48px;
}

.col--wide > .col-item {
  padding-left: 48px;
}

/*
 * Make .col gutters narrower.
 * .col--Modifier. 
 */
.col--narrow {
  margin-left: -12px;
}

.col--narrow > .col-item {
  padding-left: 12px;
}

/* 
 * Add bottom margin to .cols.
 * .col--Modifier.
 */
.col--margin-bottom-20 {
  margin-bottom: 20px;
}

.col--margin-bottom-40 {
  margin-bottom: 40px;
}

.col--margin-bottom-60 {
  margin-bottom: 60px;
}

/* 
 * Add padding to .cols.
 * .col--Modifier.
 */
.col--padding-20 {
  padding: 20px 0;
}

.col--padding-40 {
  padding: 40px 0;
}

.col--padding-60 {
  padding: 60px 0;
}

/*
 * Used to position an image to the right of text on larger screens and back to above on smaller.
 * Done by adjusting the order.
 * 1. Flow direction
 * 2. Wrap into rows if they don't fit on a line. Used once breakpoint is reached to move onto seperate lines.
 * 3. Vertically align flex items. .col-item--middle takes care of this on non flex items.
 */
.col-image-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  /* 1 */
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  /* 2 */
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  /* 3 */
}

/*
 * Modifier to set flex items to top.
 */
.col-image-flex--top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
              -ms-grid-row-align: flex-start;
          align-items: flex-start;
}

@media only screen and (min-width: 768px) {
  .col-image-flex > .col-item:first-child {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
  }
}
/*
 * 1. Instead of floating.
 * 2. Gutter.
 * 3. all .col-items are full width unless specified. Mobile First.
 * 4. Align inline-block elements.
 */
.col-item {
  display: inline-block;
  /* 1 */
  padding-left: 24px;
  /* 2 */
  width: 100%;
  /* 3 */
  vertical-align: top;
  /* 4 */
  box-sizing: border-box;
}

/*
 * Align .col-item middle.
 * .col-item--Modifier.
 */
.col-item--middle {
  vertical-align: middle;
}

/*
 * Align .col-item bottom.
 * .col-item--Modifier.
 */
.col-item--bottom {
  vertical-align: bottom;
}

/*
 * Align .col-item left. Used to move centered or right align normally with medium-- small-- modifier.
 * .col-item--Modifier.
 */
.col-item--align-left {
  text-align: left;
}

/*
 * Align .col-item center.
 * .col-item--Modifier.
 */
.col-item--align-center {
  text-align: center;
}

/*
 * Align .col-item right.
 * .col-item--Modifier.
 */
.col-item--align-right {
  text-align: right;
}

/*
 * Hide / Show.
 */
.col-item--hide {
  display: none;
}

.col-item--show {
  display: inline-block;
}

/*
 * Vertical divider.
 * This version uses flex and position relative on the .col-item--vertical-divider to provide
 * the context for the position:absolute of pseudo element.
 * This method works in IE10 +.
 * Need to apply .col--vertical-divider .col--narrow to parent .col.
 */
.col--vertical-divider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 767px) {
  .col--vertical-divider {
    display: block;
  }
}
.col-item--vertical-divider {
  position: relative;
}

.col-item--vertical-divider:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  left: 50%;
  margin-left: 5.5px;
  background: #bcbec0;
}

/*
 * No flexbox on lt-ie10 so exclude divider.
 */
.lt-ie10 .col-item--vertical-divider {
  visibility: hidden;
}

.col-item-full {
  width: 100%;
}

.col-item-half {
  width: 50%;
}

.col-item-third {
  width: 33.333%;
}

.col-item-two-third {
  width: 66.666%;
}

.col-item-quarter {
  width: 25%;
}

.col-item-three-quarter {
  width: 75%;
}

.col-item-1-5 {
  width: 20%;
}

.col-item-2-5 {
  width: 40%;
}

.col-item-3-5 {
  width: 60%;
}

.col-item-4-5 {
  width: 80%;
}

.col-item-1-6 {
  width: 16.666%;
}

.col-item-5-6 {
  width: 83.333%;
}

.col-item-1-8 {
  width: 12.5%;
}

.col-item-3-8 {
  width: 37.5%;
}

.col-item-5-8 {
  width: 62.5%;
}

.col-item-6-8 {
  width: 75%;
}

.col-item-7-8 {
  width: 87.5%;
}

.col-item-1-10 {
  width: 10%;
}

.col-item-2-10 {
  width: 20%;
}

.col-item-3-10 {
  width: 30%;
}

.col-item-4-10 {
  width: 40%;
}

.col-item-6-10 {
  width: 60%;
}

.col-item-7-10 {
  width: 70%;
}

.col-item-8-10 {
  width: 80%;
}

.col-item-9-10 {
  width: 90%;
}

@media only screen and (min-width: 990px) {
  /*
   * Centre an .col.
   * .col--Modifier.
   */
  .col--align-center--xlarge {
    text-align: center;
  }

  .col--align-center--xlarge > .col-item {
    text-align: left;
  }

  /*
   * Right align .col.
   * .col--Modifier. 
   */
  .col--align-right--xlarge {
    text-align: right;
  }

  .col--align-right--xlarge > .col-item {
    text-align: left;
  }

  /*
   * Make .col gutters wider.
   * .col--Modifier. 
   */
  .col--wide--xlarge {
    margin-left: -48px;
  }

  .col--wide--xlarge > .col-item {
    padding-left: 48px;
  }

  /*
   * Make .col gutters narrower.
   * .col--Modifier. 
   */
  .col--narrow--xlarge {
    margin-left: -12px;
  }

  .col--narrow--xlarge > .col-item {
    padding-left: 12px;
  }

  /* 
   * Add bottom margin to .cols.
   * .col--Modifier--Modifier.
   */
  .col--margin-bottom-20--xlarge {
    margin-bottom: 20px;
  }

  .col--margin-bottom-40--xlarge {
    margin-bottom: 40px;
  }

  .col--margin-bottom-60--xlarge {
    margin-bottom: 60px;
  }

  /* 
   * Add padding to .cols.
   * .col--Modifier--Modifier.
   */
  .col--padding-20--xlarge {
    padding: 20px 0;
  }

  .col--padding-40--xlarge {
    padding: 40px 0;
  }

  .col--padding-60--xlarge {
    padding: 60px 0;
  }

  .col-item-full--xlarge {
    width: 100%;
  }

  .col-item-half--xlarge {
    width: 50%;
  }

  .col-item-third--xlarge {
    width: 33.333%;
  }

  .col-item-two-third--xlarge {
    width: 66.666%;
  }

  .col-item-quarter--xlarge {
    width: 25%;
  }

  .col-item-three-quarter--xlarge {
    width: 75%;
  }

  .col-item-1-5--xlarge {
    width: 20%;
  }

  .col-item-2-5--xlarge {
    width: 40%;
  }

  .col-item-3-5--xlarge {
    width: 60%;
  }

  .col-item-4-5--xlarge {
    width: 80%;
  }

  .col-item-1-6--xlarge {
    width: 16.666%;
  }

  .col-item-5-6--xlarge {
    width: 83.333%;
  }

  .col-item-1-8--xlarge {
    width: 12.5%;
  }

  .col-item-3-8--xlarge {
    width: 37.5%;
  }

  .col-item-5-8--xlarge {
    width: 62.5%;
  }

  .col-item-6-8--xlarge {
    width: 75%;
  }

  .col-item-7-8--xlarge {
    width: 87.5%;
  }

  .col-item-1-10--xlarge {
    width: 10%;
  }

  .col-item-2-10--xlarge {
    width: 20%;
  }

  .col-item-3-10--xlarge {
    width: 30%;
  }

  .col-item-4-10--xlarge {
    width: 40%;
  }

  .col-item-6-10--xlarge {
    width: 60%;
  }

  .col-item-7-10--xlarge {
    width: 70%;
  }

  .col-item-8-10--xlarge {
    width: 80%;
  }

  .col-item-9-10--xlarge {
    width: 90%;
  }

  /*
   * See full size .col-item above for the below rules.
   */
  .col-item--middle--xlarge {
    vertical-align: middle;
  }

  .col-item--bottom--xlarge {
    vertical-align: bottom;
  }

  .col-item--align-left--xlarge {
    text-align: left;
  }

  .col-item--align-center--xlarge {
    text-align: center;
  }

  .col-item--align-right--xlarge {
    text-align: right;
  }

  /*
   * Hide / Show.
   */
  .col-item--hide--xlarge {
    display: none;
  }

  .col-item--show--xlarge {
    display: inline-block;
  }

  /*
   * Used to make an item full width when it isn't normally.
   * Faux modifier as .full-width doesn't exist.
   */
  .full-width--xlarge {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 989px) {
  /*
   * Centre an .col.
   * .col--Modifier.
   */
  .col--align-center--large {
    text-align: center;
  }

  .col--align-center--large > .col-item {
    text-align: left;
  }

  /*
   * Right align .col.
   * .col--Modifier. 
   */
  .col--align-right--large {
    text-align: right;
  }

  .col--align-right--large > .col-item {
    text-align: left;
  }

  /*
   * Make .col gutters wider.
   * .col--Modifier. 
   */
  .col--wide--large {
    margin-left: -48px;
  }

  .col--wide--large > .col-item {
    padding-left: 48px;
  }

  /*
   * Make .col gutters narrower.
   * .col--Modifier. 
   */
  .col--narrow--large {
    margin-left: -12px;
  }

  .col--narrow--large > .col-item {
    padding-left: 12px;
  }

  /* 
   * Add bottom margin to .cols.
   * .col--Modifier--Modifier.
   */
  .col--margin-bottom-20--large {
    margin-bottom: 20px;
  }

  .col--margin-bottom-40--large {
    margin-bottom: 40px;
  }

  .col--margin-bottom-60--large {
    margin-bottom: 60px;
  }

  /* 
   * Add padding to .cols.
   * .col--Modifier--Modifier.
   */
  .col--padding-20--large {
    padding: 20px 0;
  }

  .col--padding-40--large {
    padding: 40px 0;
  }

  .col--padding-60--large {
    padding: 60px 0;
  }

  .col-item-full--large {
    width: 100%;
  }

  .col-item-half--large {
    width: 50%;
  }

  .col-item-third--large {
    width: 33.333%;
  }

  .col-item-two-third--large {
    width: 66.666%;
  }

  .col-item-quarter--large {
    width: 25%;
  }

  .col-item-three-quarter--large {
    width: 75%;
  }

  .col-item-1-5--large {
    width: 20%;
  }

  .col-item-2-5--large {
    width: 40%;
  }

  .col-item-3-5--large {
    width: 60%;
  }

  .col-item-4-5--large {
    width: 80%;
  }

  .col-item-1-6--large {
    width: 16.666%;
  }

  .col-item-5-6--large {
    width: 83.333%;
  }

  .col-item-1-8--large {
    width: 12.5%;
  }

  .col-item-3-8--large {
    width: 37.5%;
  }

  .col-item-5-8--large {
    width: 62.5%;
  }

  .col-item-6-8--large {
    width: 75%;
  }

  .col-item-7-8--large {
    width: 87.5%;
  }

  .col-item-1-10--large {
    width: 10%;
  }

  .col-item-2-10--large {
    width: 20%;
  }

  .col-item-3-10--large {
    width: 30%;
  }

  .col-item-4-10--large {
    width: 40%;
  }

  .col-item-6-10--large {
    width: 60%;
  }

  .col-item-7-10--large {
    width: 70%;
  }

  .col-item-8-10--large {
    width: 80%;
  }

  .col-item-9-10--large {
    width: 90%;
  }

  /*
   * See full size .col-item above for the below rules.
   */
  .col-item--middle--large {
    vertical-align: middle;
  }

  .col-item--bottom--large {
    vertical-align: bottom;
  }

  .col-item--align-left--large {
    text-align: left;
  }

  .col-item--align-center--large {
    text-align: center;
  }

  .col-item--align-right--large {
    text-align: right;
  }

  /*
   * Hide / Show.
   */
  .col-item--hide--large {
    display: none;
  }

  .col-item--show--large {
    display: inline-block;
  }

  /*
   * Used to make an item full width when it isn't normally.
   * Faux modifier as .full-width doesn't exist.
   */
  .full-width--large {
    width: 100%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /*
   * Centre an .col.
   * .col--Modifier.
   */
  .col--align-center--medium {
    text-align: center;
  }

  .col--align-center--medium > .col-item {
    text-align: left;
  }

  /*
   * Right align .col.
   * .col--Modifier. 
   */
  .col--align-right--medium {
    text-align: right;
  }

  .col--align-right--medium > .col-item {
    text-align: left;
  }

  /*
   * Make .col gutters wider.
   * .col--Modifier. 
   */
  .col--wide--medium {
    margin-left: -48px;
  }

  .col--wide--medium > .col-item {
    padding-left: 48px;
  }

  /*
   * Make .col gutters narrower.
   * .col--Modifier. 
   */
  .col--narrow--medium {
    margin-left: -12px;
  }

  .col--narrow--medium > .col-item {
    padding-left: 12px;
  }

  /* 
   * Add bottom margin to .cols.
   * .col--Modifier--Modifier.
   */
  .col--margin-bottom-20--medium {
    margin-bottom: 20px;
  }

  .col--margin-bottom-40--medium {
    margin-bottom: 40px;
  }

  .col--margin-bottom-60--medium {
    margin-bottom: 60px;
  }

  /* 
   * Add padding to .cols.
   * .col--Modifier--Modifier.
   */
  .col--padding-20--medium {
    padding: 20px 0;
  }

  .col--padding-40--medium {
    padding: 40px 0;
  }

  .col--padding-60--medium {
    padding: 60px 0;
  }

  .col-item-full--medium {
    width: 100%;
  }

  .col-item-half--medium {
    width: 50%;
  }

  .col-item-third--medium {
    width: 33.333%;
  }

  .col-item-two-third--medium {
    width: 66.666%;
  }

  .col-item-quarter--medium {
    width: 25%;
  }

  .col-item-three-quarter--medium {
    width: 75%;
  }

  .col-item-1-5--medium {
    width: 20%;
  }

  .col-item-2-5--medium {
    width: 40%;
  }

  .col-item-3-5--medium {
    width: 60%;
  }

  .col-item-4-5--medium {
    width: 80%;
  }

  .col-item-1-6--medium {
    width: 16.666%;
  }

  .col-item-5-6--medium {
    width: 83.333%;
  }

  .col-item-1-8--medium {
    width: 12.5%;
  }

  .col-item-3-8--medium {
    width: 37.5%;
  }

  .col-item-5-8--medium {
    width: 62.5%;
  }

  .col-item-6-8--medium {
    width: 75%;
  }

  .col-item-7-8--medium {
    width: 87.5%;
  }

  .col-item-1-10--medium {
    width: 10%;
  }

  .col-item-2-10--medium {
    width: 20%;
  }

  .col-item-3-10--medium {
    width: 30%;
  }

  .col-item-4-10--medium {
    width: 40%;
  }

  .col-item-6-10--medium {
    width: 60%;
  }

  .col-item-7-10--medium {
    width: 70%;
  }

  .col-item-8-10--medium {
    width: 80%;
  }

  .col-item-9-10--medium {
    width: 90%;
  }

  /*
   * See full size col-item above for the below rules.
   */
  .col-item--middle--medium {
    vertical-align: middle;
  }

  .col-item--bottom--medium {
    vertical-align: bottom;
  }

  .col-item--align-left--medium {
    text-align: left;
  }

  .col-item--align-center--medium {
    text-align: center;
  }

  .col-item--align-right--medium {
    text-align: right;
  }

  /*
   * Hide / Show.
   */
  .col-item--hide--medium {
    display: none;
  }

  .col-item--show--medium {
    display: inline-block;
  }

  /*
   * Used to make an item full width when it isn't normally.
   * Faux modifier as .full-width doesn't exist.
   */
  .full-width--medium {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  /*
   * Centre an .col.
   * .col--Modifier.
   */
  .col--align-center--small {
    text-align: center;
  }

  .col--align-center--small > .col-item {
    text-align: left;
  }

  /*
   * Right align .col.
   * .col--Modifier. 
   */
  .col--align-right--small {
    text-align: right;
  }

  .col--align-right--small > .col-item {
    text-align: left;
  }

  /*
   * Make .col gutters wider.
   * .col--Modifier. 
   */
  .col--wide--small {
    margin-left: -48px;
  }

  .col--wide--small > .col-item {
    padding-left: 48px;
  }

  /*
   * Make .col gutters narrower.
   * .col--Modifier. 
   */
  .col--narrow--small {
    margin-left: -12px;
  }

  .col--narrow--small > .col-item {
    padding-left: 12px;
  }

  /* 
   * Add bottom margin to .cols.
   * .col--Modifier--Modifier.
   */
  .col--margin-bottom-20--small {
    margin-bottom: 20px;
  }

  .col--margin-bottom-40--small {
    margin-bottom: 40px;
  }

  .col--margin-bottom-60--small {
    margin-bottom: 60px;
  }

  /* 
   * Add padding to .cols.
   * .col--Modifier--Modifier.
   */
  .col--padding-20--small {
    padding: 20px 0;
  }

  .col--padding-40--small {
    padding: 40px 0;
  }

  .col--padding-60--small {
    padding: 60px 0;
  }

  .col-item-full--small {
    width: 100%;
  }

  .col-item-half--small {
    width: 50%;
  }

  .col-item-third--small {
    width: 33.333%;
  }

  .col-item-two-third--small {
    width: 66.666%;
  }

  .col-item-quarter--small {
    width: 25%;
  }

  .col-item-three-quarter--small {
    width: 75%;
  }

  .col-item-1-5--small {
    width: 20%;
  }

  .col-item-2-5--small {
    width: 40%;
  }

  .col-item-3-5--small {
    width: 60%;
  }

  .col-item-4-5--small {
    width: 80%;
  }

  .col-item-1-6--small {
    width: 16.666%;
  }

  .col-item-5-6--small {
    width: 83.333%;
  }

  .col-item-1-8--small {
    width: 12.5%;
  }

  .col-item-3-8--small {
    width: 37.5%;
  }

  .col-item-5-8--small {
    width: 62.5%;
  }

  .col-item-6-8--small {
    width: 75%;
  }

  .col-item-7-8--small {
    width: 87.5%;
  }

  .col-item-1-10--small {
    width: 10%;
  }

  .col-item-2-10--small {
    width: 20%;
  }

  .col-item-3-10--small {
    width: 30%;
  }

  .col-item-4-10--small {
    width: 40%;
  }

  .col-item-6-10--small {
    width: 60%;
  }

  .col-item-7-10--small {
    width: 70%;
  }

  .col-item-8-10--small {
    width: 80%;
  }

  .col-item-9-10--small {
    width: 90%;
  }

  /*
   * See full size col-item above for the below rules.
   */
  .col-item--middle--small {
    vertical-align: middle;
  }

  .col-item--bottom--small {
    vertical-align: bottom;
  }

  .col-item--align-left--small {
    text-align: left;
  }

  .col-item--align-center--small {
    text-align: center;
  }

  .col-item--align-right--small {
    text-align: right;
  }

  /*
   * Hide / Show.
   */
  .col-item--hide--small {
    display: none;
  }

  .col-item--show--small {
    display: inline-block;
  }

  /*
   * Used to make an item full width when it isn't normally.
   * Faux modifier as .full-width doesn't exist.
   */
  .full-width--small {
    width: 100%;
  }
}
/*
**********************************************************************
WRAP
**********************************************************************
*/
/*
 * Used for a full width block.
 */
.wrap-full {
  width: 100%;
  margin: 0 auto;
}

/*
 * Used for a block the width of the nav.
 */
.wrap-1190 {
  max-width: 1190px;
  margin: 0 auto;
}

/*
 * Used for inner of full width block or standalone non full width block.
 */
.wrap {
  max-width: 990px;
  margin: 0 auto;
  padding: 0 5px;
  /* 1 */
}

/*
 * Blur the whole wrap when mobile navigation is shown.
 * 1. Manually prefix filter on transition as webkit doesn't use it but yet it doesn't work.
 * 1. These are technically in the wrong order as prefixed version is last but webkit disables this for unprefixed version if not.
 */
.wrap--blur {
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: -webkit-filter 0.1s linear 0.1s;
  transition: filter 0.1s linear 0.1s;
  transition: filter 0.1s linear 0.1s, -webkit-filter 0.1s linear 0.1s;
  /* 1 */
  transition: -webkit-filter 0.1s linear 0.1s;
  /* 1 */
}

/*
 * Reset blur if window is resized when mobile navigation is on.
 */
@media screen and (min-width: 768px) {
  .wrap--blur {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}
/*
**********************************************************************
TYPOGRAPHY
**********************************************************************
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin-bottom: 21px;
}

h1.alternate,
h2.alternate,
h3.alternate,
h4.alternate,
h5.alternate,
h6.alternate {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
.heading-1 {
  font-size: 1.677419em;
  /* 26/15.5 */
}

h2,
.heading-2 {
  font-size: 1.548387em;
  /* 24/15.5 */
}

h3,
.heading-3 {
  font-size: 1.290322em;
  /* 20/15.5 */
}

h4,
.heading-4 {
  font-size: 1.096774em;
  /* 17/15.5 */
}

h5,
.heading-5 {
  font-size: 1em;
  /* 15/15.5 */
}

h6,
.heading-6 {
  font-size: 1em;
  /* 15/15.5 */
}

.sub-heading {
  font-size: 1.032258em;
  /* 16/15.5 */
  font-weight: 700;
}

p {
  margin-bottom: 21px;
}

.no-margin {
  margin: 0;
}

.half-margin {
  margin-bottom: 10.5px;
}

.third-margin {
  margin-bottom: 7px;
}

.twice-margin {
  margin-bottom: 42px;
}

.triple-margin {
  margin-bottom: 63px;
}

b,
strong {
  font-weight: 700;
}

.bold-text {
  font-weight: 700;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

cite {
  margin-bottom: 21px;
  border-left: 4px solid #20609d;
  padding: 0 0 0 10px;
  font-style: italic;
}

q {
  font-style: italic;
  quotes: "“" "”" "‘" "’";
}

q:before {
  content: open-quote;
}

q:after {
  content: close-quote;
}

blockquote {
  border-left: 4px solid #f26522;
  padding: 10px 0 10px 20px;
  font-weight: 700;
  font-size: 1.032258em;
  /* 16/15.5 */
  width: 95%;
  margin: 31px auto;
}

/*
 * Remove extra padding if p ued in blockquote.
 */
blockquote p:last-child {
  margin-bottom: 0;
}

address {
  margin: 0 0 21px 0;
}

pre {
  border-left: 4px solid #f26522;
  padding: 10px 0 10px 10px;
  font-family: "Courier 10 Pitch", Courier, monospace;
  line-height: 1.6;
  margin-bottom: 21px;
  max-width: 100%;
  overflow: auto;
}

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

sup,
sub {
  font-size: 0.774193em;
  /* 12/15.5 */
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

small,
.small {
  font-size: 0.903225em;
  /* 13/15.5 */
}

big {
  font-size: 1.161290em;
  /* 18/15.5 */
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*
**********************************************************************
COLORS
**********************************************************************
*/
/*
 * Used to overwrite or set text colors.
 * Check specificity when using these.
 */
.color-white {
  color: #fff;
}

.color-text-color {
  color: #797a7d;
}

.color-text-color-light {
  color: #bcbec0;
}

.color-logo-orange {
  color: #f26522;
}

.color-logo-blue {
  color: #00aeef;
}

.color-brand-orange {
  color: #f26522;
}

.color-orange-dark {
  color: #c74609;
}

.color-orange-light {
  color: #ff874e;
}

.color-brand-blue {
  color: #20609d;
}

.color-brand-blue-dark {
  color: #0f4981;
}

.color-brand-blue-light {
  color: #3b72a6;
}

/*
 * Used to overwrite or set background colors.
 * Check specificity when using these.
 */
.background-text-color {
  background: #797a7d;
}

.background-text-color-light {
  background: #bcbec0;
}

.background-logo-orange {
  background: #f26522;
}

.background-logo-blue {
  background: #00aeef;
}

.background-brand-orange {
  background: #f26522;
}

.background-orange-dark {
  background: #c74609;
}

.background-orange-light {
  background: #ff874e;
}

.background-brand-blue {
  background: #20609d;
}

.background-brand-blue-dark {
  background: #0f4981;
}

.background-brand-blue-light {
  background: #3b72a6;
}

.color-twitter,
a.color-twitter,
a:visited.color-twitter,
a:hover.color-twitter,
a:focus.color-twitter,
a:active.color-twitter {
  color: #1bb2e9;
}

.main-navigation a.background-twitter:hover,
.mobile-navigation-bar__social a.background-twitter:hover {
  background: #1bb2e9;
}

/*
 * Used for social media links
 */
.color-facebook,
a.color-facebook,
a:visited.color-facebook,
a:hover.color-facebook,
a:focus.color-facebook,
a:active.color-facebook {
  color: #3c599b;
}

.main-navigation a.background-facebook:hover,
.mobile-navigation-bar__social a.background-facebook:hover {
  background: #3c599b;
}

.color-googleplus,
a.color-googleplus,
a:visited.color-googleplus,
a:hover.color-googleplus,
a:focus.color-googleplus,
a:active.color-googleplus {
  color: #dd4c39;
}

.main-navigation a.background-googleplus:hover,
.mobile-navigation-bar__social a.background-googleplus:hover {
  background: #dd4c39;
}

.color-linkedin,
a.color-linkedin,
a:visited.color-linkedin,
a:hover.color-linkedin,
a:focus.color-linkedin,
a:active.color-linkedin {
  color: #0274b3;
}

/*
**********************************************************************
ELEMENTS
**********************************************************************
*/
hr,
hr.hr-0 {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #bcbec0;
  margin: 0;
  padding: 0;
}

hr.hr-20 {
  margin: 20px 0;
}

hr.hr-40 {
  margin: 40px 0;
}

hr.hr-60 {
  margin: 60px 0;
}

hr.double {
  border-top: 2px solid #bcbec0;
}

ul,
ol {
  margin: 0 0 21px 1.5em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li {
  margin-bottom: 0.5em;
}

li > ul,
li > ol {
  margin-top: 0.5em;
  margin-bottom: 0;
}

.list-content,
.list-content-checklist {
  list-style-type: none;
  margin: 0 0 21px 0;
  padding: 0;
}

.list-content li {
  position: relative;
  padding: 4px 0 4px 18px;
  margin: 0;
}

.list-content-checklist li {
  position: relative;
  padding: 8px 0 8px 30px;
  margin: 0;
}

.list-content li:before,
.list-content-checklist li:before {
  position: absolute;
  top: 4px;
  left: 0;
  font-family: "FontAwesome";
  font-weight: bold;
}

.list-content li:before {
  content: "\f105";
  color: #f26522;
}

.list-content-checklist li:before {
  content: "\f00c";
  color: #f26522;
  font-size: 1.290322em;
  /* 20/15.5 */
}

.list-two-column {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
}

.list-content-no-margin {
  margin: 0;
}

@media screen and (max-width: 767px) {
  .list-two-column {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
  }
}
dt {
  font-weight: bold;
}

dd {
  margin: 0 0 21px 3em;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

img.non-responsive {
  max-width: none;
}

figure {
  margin: 0;
}

table {
  margin: 0 0 21px 0;
  width: 100%;
}

th {
  text-align: left;
}

/*
**********************************************************************
WARNINGS
**********************************************************************
*/
.box {
  border-radius: 5px;
  padding: 5px;
  margin: 0 0 21px 0;
}

.success,
.success-permanent {
  color: #0a942a;
  background: #ecfef0;
  border: 1px solid #0A942A;
}

.box.error,
.box.error-permanent {
  color: #dc0000;
  background-color: #fff6f6;
  border: 1px solid #ea4e4e;
}

.success-plain,
.error-plain {
  background: none;
  border: none;
}

/*
**********************************************************************
FORMS
**********************************************************************
*/
/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE6/7, F3/4, S5, Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  margin-bottom: 21px;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="tel"],
input[type="search"] {
  display: block;
  width: 100%;
  max-width: 100%;
  border: 1px solid #bcbec0;
  padding: 8px;
  border-radius: 0;
  -webkit-appearance: none;
}

input[type="color"] {
  display: block;
}

select,
textarea {
  display: block;
  width: 100%;
  max-width: 100%;
  border: 1px solid #bcbec0;
  border-radius: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 * 3. Allow only vertical resizing of textareas. H5BP.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
  resize: vertical;
  /* 3 */
  padding: 8px;
}

/*
 * 1. Addresses excess padding in IE8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  /* 1 */
  margin-right: 10px;
}

/*
 * Wrap each checkbox or radio or wrap all elements for inline checkbox or radio.
 */
.checkbox-block {
  display: block;
}

/*
 * Use as class alongside .checkbox-block.
 */
.checkbox-inline input {
  display: inline-block;
  margin-left: 10px;
}

/*
 * Don't adjust first checkbox.
 */
.checkbox-inline input:first-child {
  margin-left: 0;
}

/*
 * Used to ensure inline check box label is inline too, especially if text spans more than one line.
 */
.checkbox-inline label {
  display: inline;
}

/*
 * Addresses appearance set to searchfield in S5, Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

label {
  display: inline-block;
  margin-bottom: 4px;
}

fieldset {
  border: 2px solid #bcbec0;
  padding: 21px;
  margin-bottom: 21px;
}

legend {
  padding: 0 10px;
}

/*
 * Corrects inner padding displayed oddly in S5, Chrome on OSX.
 */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: #bababa;
}

::-moz-placeholder {
  color: #bababa;
}

:-ms-input-placeholder {
  color: #bababa;
}

/*
**********************************************************************
BUTTONS
**********************************************************************
*/
/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Overwrite line-height: normal previously set on input;
 * 3. Addresses margins set differently in IE6/7, F3/4, S5, Chrome.
 * 4. Manually set padding to overwrite user stylesheets.
 * 5. Improves usability and consistency of cursor style between image-type 'input' and others.
 * 6. Corrects inability to style clickable 'input' types in iOS.
 */
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  background: #f26522;
  border: none;
  /*font-size: 100%; /* 1 */
  line-height: 1.3;
  /* 2 */
  margin: 0 0 21px 0;
  /* 3 */
  padding: 8px;
  /* 4 */
  cursor: pointer;
  /* 5 */
  -webkit-appearance: button;
  /* 6 */
  font-weight: 700;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

/*
 * Style a.button links back to normal. See rule 6 above.
 */
.button {
  -webkit-appearance: none;
}

/*
 * Color used to ensure link style in button. Example when used with <a class="button">.
 */
input[type="button"]:visited,
input[type="reset"]:visited,
input[type="submit"]:visited,
.button:visited {
  background: #f26522;
  color: #fff;
}

/*
 * Color used to ensure link style in button. Example when used with <a class="button">.
 */
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button:hover {
  background: #c74609;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

/*
 * :focus and :active seperated.
 * We want the background color to return to normal when a mouse click is released.
 */
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
.button:focus {
  color: #fff;
  text-decoration: none;
}

/*
 * Color used to ensure link style in button. Example when used with <a class="button">.
 */
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
.button:active {
  color: #fff;
  background: #c74609;
  text-decoration: none;
}

button.full-width,
.button.full-width {
  width: 100%;
}

.button-white-orange,
.button-white-blue {
  background: none;
  border: 3px solid #fff;
}

.button-white-orange:hover,
.button-white-orange:focus,
.button-white-orange:active {
  background: #fff;
  color: #f26522;
}

.button-white-blue:hover,
.button-white-blue:focus,
.button-white-blue:active {
  background: #fff;
  color: #20609d;
}

.button.button-orange-white {
  background: none;
  border: 3px solid #f26522;
  color: #f26522;
}

.button-orange-white:hover,
.button-orange-white:focus,
.button-orange-white:active {
  background: #f26522;
  color: #fff;
}

.button.no-margin {
  margin: 0;
}

/*
 * Specific to Wordpress Search widget.
 */
input[type="search"].search-field {
  display: inline-block;
  width: auto;
  max-width: none;
  padding: 8px;
  border-top: 1px solid #bcbec0;
  border-right: none;
  border-bottom: 1px solid #bcbec0;
  border-left: 1px solid #bcbec0;
}

/*
 * Specific to Wordpress Search widget.
 */
.search-submit {
  position: relative;
  top: -2px;
  left: -4px;
}

/*
 * Specific to Wordpress Search widget.
 */
input[type="submit"].search-submit {
  margin: 0;
  line-height: initial;
}

/*
**********************************************************************
LINKS
**********************************************************************
*/
a,
a:visited {
  color: #f26522;
  text-decoration: none;
  font-weight: bold;
}

a:hover,
a:focus,
a:active {
  color: #f26522;
  text-decoration: underline;
}

.back-top {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 30px;
  line-height: 40px;
  font-size: 5em;
  /* 70/14 */
  text-decoration: none;
  cursor: pointer;
  z-index: 9998;
  color: #f26522;
  -webkit-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
  font-family: 'FontAwesome';
}

.back-top:hover {
  text-decoration: none;
  color: #c74609;
  cursor: pointer;
}

/*
**********************************************************************
HEADER
**********************************************************************
*/
.main-header {
  margin-bottom: 42px;
}

@media screen and (max-width: 767px) {
  .main-header--mobile-no-header-image {
    margin-bottom: 83px;
  }
}
.logo {
  width: 125px;
  margin-top: 10px;
  margin-right: 6px;
  vertical-align: baseline;
}

.logo--fixed {
  width: 70px;
  margin-top: 5px;
}

.logo--mobile {
  position: absolute;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  margin-top: 8px;
}

.logo-text {
  font-family: "Oxygen", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.935483em;
  /* 30/15.5 */
}

.logo-text--mobile {
  font-size: 1.419354em;
  /* 22/15.5 */
}

@media screen and (max-width: 400px) {
  .logo-text--mobile {
    font-size: 1.161290em;
    /* 18/15.5 */
  }
}
@media screen and (max-width: 370px) {
  .logo-text--mobile {
    display: none;
  }
}
.logo-text:hover,
.logo-text:focus,
.logo-text:active {
  text-decoration: none;
}

.logo-text__malinky {
  color: #808285;
  font-weight: 400;
}

.logo-text__media {
  color: #d1d3d4;
  font-weight: 300;
}

.logo-text__malinky--mobile,
.logo-text__media--mobile {
  color: #fff;
}

/*
 * The main-header-bkg-image are used as backgrounds and overlaid with MM logo.
 * 1. Images CSS is injected into the <head> as they use post_thumbnail.
 */
.main-header-bkg-image {
  background-attachment: fixed, scroll;
  background-position: 50% 0, 50%;
  background-repeat: no-repeat;
  background-size: auto, cover;
  background-blend-mode: hard-light;
  height: 800px;
  padding-top: 73px;
  display: table;
}

.main-header-bkg-image__heading {
  display: table-cell;
  vertical-align: middle;
}

.main-header-image__heading h2 {
  color: #fff;
  font-size: 2.258064em;
  /* 35/15.5 */
  max-width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  /*
   * 1. Images CSS is injected into the <head> as they use post_thumbnail.
   */
  .main-header-bkg-image {
    height: 595px;
    padding-top: 41px;
  }

  .main-header-image__heading h2 {
    max-width: 70%;
    font-size: 1.806451em;
    /* 28/15.5 */
  }
}
@media screen and (max-width: 480px) {
  /*
   * 1. Images CSS is injected into the <head> as they use post_thumbnail.
   */
  .main-header-bkg-image {
    height: 400px;
    padding-top: 41px;
  }

  .main-header-image__heading h2 {
    font-size: 1.677419em;
    /* 26/15.5 */
    max-width: 80%;
  }
}
@media screen and (min-width: 768px) {
  .main-header-bkg-image--not-fixed {
    height: 727px;
  }
}
/*
 * The main-header-image is a normal size header.
 * 1. Ensure the image is still contained.
 * 2. Centre the image inside the width 100%.
 */
.main-header-image {
  position: relative;
  width: 100%;
  max-width: 990px;
  height: 400px;
  overflow: hidden;
  margin: 42px auto 0 auto;
  /* 2 */
  display: table;
}

/*
 * The main-header-bkg-image-normal is a normal size header but overlaid with MM logo.
 */
.main-header-bkg-image-normal {
  width: 100%;
  max-width: 990px;
  height: 400px;
  margin: 42px auto 0 auto;
  display: table;
  background-attachment: scroll;
  background-position: 50% 0, 40%;
  background-repeat: no-repeat;
  background-size: cover, 175%;
  background-blend-mode: hard-light;
}

@media screen and (max-width: 767px) {
  /*
   * 1. Images CSS is injected into the <head> as they use post_thumbnail.
   */
  .main-header-bkg-image-normal {
    background-size: cover, 200%;
  }
}
@media screen and (max-width: 480px) {
  /*
   * 1. Images CSS is injected into the <head> as they use post_thumbnail.
   */
  .main-header-bkg-image-normal {
    background-size: auto, 240%;
  }
}
@media screen and (max-width: 767px) {
  .main-header-image,
  .main-header-bkg-image-normal {
    margin-top: 41px;
  }
}
/*
 * 1. Set width and height as actual image is 2000x647 to account for retina.
 */
.main-header-image img {
  position: absolute;
  top: 0;
  left: 50%;
  width: 990px;
  /* 1 */
  height: 400px;
  /* 1 */
  margin-left: -495px;
}

/*
 * 1. Trigger z-index.
 */
.main-header-image__heading {
  position: relative;
  /* 1 */
  z-index: 9;
  display: table-cell;
  vertical-align: middle;
}

@media screen and (max-width: 767px) {
  .main-header-image--mobile {
    height: 310px;
    /* 1 */
  }

  /*
   * 1. Set width and height.
   */
  .main-header-image--mobile img {
    width: 767px;
    /* 1 */
    height: 310px;
    /* 1 */
    margin-left: -384px;
    z-index: -1;
    border-bottom: none;
  }
}
/*
**********************************************************************
MAIN NAVIGATION
**********************************************************************
*/
/*
 * Holder for main navigation.
 * This is a fixed navigation until main-navigation-bar--not-fixed is applied through js.
 */
.main-navigation-bar {
  background: #fff;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  height: 73px;
  z-index: 9999;
}

@media screen and (min-width: 768px) {
  .main-navigation-bar-border .wrap {
    border-bottom: 1px solid #bcbec0;
    height: 73px;
  }
}
.main-navigation-bar--fixed {
  position: fixed;
}

/*
 * Remove position: fixed.
 * This is done at a certain scroll position through js.
 * The top is set from the height of .main-image - .main-navigation-bar.
 */
.main-navigation-bar--not-fixed {
  position: relative;
  top: 727px;
}

/*
 * Add color or image to full width background.
 * .main-navigation-bar--Modifier. 
 */
.main-navigation-bar--bkg {
  background: #f26522;
}

/*
 * Used for fixed .main-navigation (not mobile).
 * 1. Hide off screen set to same as height and the bottom border if there is one.
 * .wrap-full--Modifier.
 */
.main-navigation-bar-fixed {
  position: fixed;
  top: -41px;
  /* 1 */
  visibility: hidden;
  left: 0;
  right: 0;
  z-index: 9998;
  -webkit-transition-property: top, visibility;
  transition-property: top, visibility;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  border-bottom: 1px solid #fff;
}

/*
 * Add color or image to full width background.
 * .main-navigation-bar-fixed--Modifier. 
 */
.main-navigation-bar-fixed--bkg {
  background: #f26522;
}

/*
 * Class added via js to slide in main-navigation-bar-fixed.
 */
.main-navigation-bar-fixed--show {
  top: 0;
  visibility: visible;
  -webkit-transition-property: top visibility;
  transition-property: top visibility;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

/*
 * 1. Set to height of navigation.
 * 2. Set line-height of navigation for vertical centre.
*/
.main-navigation {
  /*position: relative;
  height: $navigation-height;
  line-height: $navigation-height;*/
}

/*
 * Applied to <nav> .main-navigation for a fixed main-navigation (not on mobile).
 * Overwrite any unwanted styles from .main-navigation as this is a Modifier.
 * This is the navigation that slides in from off screen.
 * .main-navigation--Modifier.
 */
.main-navigation--fixed {
  height: 41px;
  line-height: 41px;
  border: none;
}

/*
 * All Levels.
 */
.main-navigation ul {
  list-style: none;
  margin: 0;
}

/*
 * All Levels.
 * 1. Used to position dropdown relative to the li.
 * 2. Nudge hover down to bottom border.
 */
.main-navigation li {
  position: relative;
  /* 1 */
  display: inline-block;
  margin: 0 0 0 22px;
  padding-bottom: 4px;
  /* 2 */
}

@media screen and (max-width: 860px) {
  .main-navigation li {
    margin: 0 0 0 18px;
  }
}
@media screen and (max-width: 820px) {
  .main-navigation li {
    margin: 0 0 0 16px;
  }
}
@media screen and (max-width: 800px) {
  .main-navigation li {
    margin: 0 0 0 12px;
  }
}
/*
 * All Levels.
 */
.main-navigation li:first-child {
  margin-left: 0;
}

/*
 * All Levels.
 * Main navigation link style.
 * 1. Nudge hover down to bottom border.
 */
.main-navigation a:link,
.main-navigation a:visited {
  font-weight: 700;
  color: #797a7d;
  padding-bottom: 4px;
  /* 1 */
}

.main-navigation--fixed a:link,
.main-navigation--fixed a:visited {
  color: #fff;
}

/*
 * All Levels.
 * Main navigation hover style.
 */
.main-navigation a:hover,
.main-navigation a:focus,
.main-navigation a:active {
  color: #f26522;
  text-decoration: none;
}

.main-navigation--fixed a:hover,
.main-navigation--fixed a:focus,
.main-navigation--fixed a:active {
  color: #fff;
  text-decoration: underline;
}

/*
 * Second and Third Level.
 * This makes the dropdown boxed in.
 * 1. Top margin needs settings to -ve value of the width of the dropdown border if there is one.
 * 2. Reset from .main-navigation.
 */
.main-navigation ul ul {
  display: none;
  position: absolute;
  top: 25px;
  left: -17px;
  z-index: 999;
  background: #fff;
  border-top: 1px solid #bcbec0;
  border-right: 1px solid #bcbec0;
  border-bottom: 1px solid #bcbec0;
  margin: -1px 0 0 0;
  /* 1 */
  line-height: initial;
  /* 2 */
  text-align: left;
}

.home .main-navigation ul ul {
  border-top: 1px solid white;
}

/*
 * Third Level override.
 */
.main-navigation.main-navigation--fixed ul ul,
.home .main-navigation.main-navigation--fixed ul ul {
  border-top: 1px solid #fff;
  top: 42px;
}

/*
 * Second and Third Level Show.
 */
.main-navigation ul li:hover > ul {
  display: block;
}

/*
 * Second and Third Level.
 */
.main-navigation ul ul li {
  display: block;
  white-space: nowrap;
  margin: 0;
}

/*
 * Third Level Position.
 */
.main-navigation ul ul ul {
  top: 0;
  left: 100%;
  margin-top: -2px;
}

.main-navigation ul ul li {
  padding-bottom: 0;
}

/*
 * Second and Third Level.
 * Overide .main-navigation link style.
 */
.main-navigation ul ul a:link,
.main-navigation ul ul a:visited {
  display: block;
  color: #797a7d;
  padding: 11px 12px;
  border-left: 5px solid #bcbec0;
}

/*
 * Second and Third Level.
 * Overide .main-navigation hover style.
 */
.main-navigation ul ul a:hover {
  color: #f26522;
  border-left: 5px solid #f26522;
  text-decoration: none;
}

.main-navigation-contact {
  display: inline-block;
  font-weight: 700;
}

.main-navigation-contact:first-child {
  margin-right: 20px;
}

/*
**********************************************************************
MOBILE NAVIGATION
**********************************************************************
*/
/*
 * Holder for mobile navigation.
 * The menu bar that is clicked to display the .mobile-navigation.
 * 1. Set to 41px keeps the main section at 40px especially when used with a bottom border.
 */
.mobile-navigation-bar {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  display: none;
  position: fixed;
  width: 100%;
  z-index: 9996;
  background: #f26522;
  height: 41px;
  /* 1 */
  top: 0px;
  border-bottom: 1px solid #fff;
}

/*
 * Change color of mobile navigation bar when navigation is shown.
 */
.mobile-navigation-bar--on {
  background: rgba(40, 40, 40, 0.9);
  border-bottom: 1px solid #5a5a5a;
}

.mobile-navigation-bar a {
  color: #fff;
}

.mobile-navigation-toggle {
  display: inline-block;
  padding: 12px 10px 12px 10px;
  cursor: pointer;
}

/*
 * 1. Left open (use one or the other).
 * 2. Right open (use one or the other)
 */
.mobile-navigation-toggle--bar {
  display: block;
  width: 22px;
  height: 3px;
  -webkit-transform-origin: 1px;
      -ms-transform-origin: 1px;
          transform-origin: 1px;
  /* 1 */
  /*transform-origin: 21px;*/
  /* 2 */
  background: #fff;
}

.mobile-navigation-toggle--bar + .mobile-navigation-toggle--bar {
  margin-top: 4px;
}

.mobile-navigation-toggle:not(.collapsed) .mobile-navigation-toggle--bar:nth-child(1) {
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.mobile-navigation-toggle:not(.collapsed) .mobile-navigation-toggle--bar:nth-child(2) {
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  opacity: 0;
}

.mobile-navigation-toggle:not(.collapsed) .mobile-navigation-toggle--bar:nth-child(3) {
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.mobile-navigation-toggle--text {
  position: absolute;
  top: 13px;
  left: 40px;
  color: #fff;
}

.mobile-navigation-bar__social {
  position: absolute;
  top: -3px;
  right: 0;
  line-height: 40px;
}

.mobile-navigation-bar__social a {
  width: 41px;
  text-align: center;
  margin-left: -4px;
  font-size: 1.4em;
  color: #fff;
  border-left: 1px solid #c74609;
}

/*
 * Fake border when main-header-bkg-image is used.
 */
.mobile-navigation-bar__social--main-header-bkg-image a {
  border-left: 1px solid transparent;
}

/*
 * Add the border to the above when scrolled.
 */
.mobile-navigation-bar__social--main-header-bkg-image--scrolled a {
  border-left: 1px solid #c74609;
}

.mobile-navigation-bar--on .mobile-navigation-bar__social a {
  border-left: 1px solid #5a5a5a;
}

/*
 * The mobile menu that slides in or down.
 * 1. Set to the same height as .mobile-navigation-bar.
 * 2. This sets a colour on the whole of mobile navigation slide in.
 */
.mobile-navigation {
  position: fixed;
  bottom: 0;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  overflow-y: auto;
  width: 100%;
  top: 41px;
  /* 1 */
  padding: 0;
  margin: 0;
  background: rgba(40, 40, 40, 0.9);
}

.mobile-navigation-show {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

/*
 * Add to the html, body in js to ensure scrolling works correctly when the menu is longer than the page.
 * This disables scrolling of the page underneath the mobile-navigation.
 */
.mobile-navigation-show-overflow {
  overflow: hidden;
}

/*
 * Mobile All Levels.
 */
.mobile-navigation ul {
  list-style: none;
  margin: 0;
}

/*
 * Mobile First Level.
 * 1. Remove margin previously set.
 */
.mobile-navigation ul li {
  display: block;
  margin: 0;
  /* 1 */
  border-bottom: 1px solid #5a5a5a;
}

/*
 * Remove double top border on first menu item (specific).
 * This works when a menu is set from admin and when no menu is set and Wordpress defaults to one.
 * The second rules accounts for a default wordpress menu which adds .menu wrapper to the ul.
 */
.mobile-navigation > ul > li:first-child,
.mobile-navigation > .menu > ul > li:first-child {
  border-top: none;
}

/*
 * All Levels.
 * Mobile navigation link style.
 * 1. Fake border left matching the mobile-navigation background.
 * This stops the text moving when the hover border is added.
 */
.mobile-navigation a,
.mobile-navigation a:visited {
  display: block;
  padding: 10px 0 10px 12px;
  border-left: 5px solid transparent;
  /* 1 */
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

/*
 * All Levels.
 * Mobile navigation hover style.
 */
.mobile-navigation a:hover {
  /*border-left: 5px solid $navigation-mobile-link-border-color-hover;
  color: $navigation-mobile-link-color-hover;*/
}

/*
 * Sub menu borders.
 */
.mobile-navigation .sub-menu li:first-child {
  border-top: 1px solid #5a5a5a;
}

.mobile-navigation .sub-menu li:last-child {
  border-bottom: none;
}

/*
 * Mobile Second Level.
 * Mobile navigation link style.
 */
.mobile-navigation ul ul li a:link,
.mobile-navigation ul ul li a:visited {
  padding-left: 24px;
}

/*
 * Mobile Third Level.
 * Mobile navigation link style.
 */
.mobile-navigation ul ul ul li a:link,
.mobile-navigation ul ul ul li a:visited {
  padding-left: 38px;
}

@media screen and (max-width: 767px) {
  .mobile-navigation-bar,
  .main-navigation-bar-fixed {
    display: block;
  }

  .main-navigation-bar,
  .main-navigation-bar-fixed {
    display: none;
  }
}
/*
**********************************************************************
OTHER NAVIGATION
**********************************************************************
*/
/*
 * Overide <a> styles for image fonts (dashicons / font awesome).
 */
.image-font {
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
}

.image-font:visited,
.image-font:hover,
.image-font:focus,
.image-font:active {
  text-decoration: none;
}

/*
 *  Position so sits in middle of navigation.
 * .image-font__Element.
 */
.image-font__sizing {
  text-align: center;
  font-size: 1.677419em;
  /* 26/15.5 */
}

.image-font__sizing--large {
  font-size: 5.161290em;
  /* 80/15.5 */
}

/*
 * If text accompanies an image font, like Twitter logo on contact page
 */
.image-font__label {
  margin-left: 10px;
}

/*
 * Use my own reference to the image fonts so I control all styling not their stylsheets.
 * .image-font__Element.
 */
.image-font__fontawesome {
  font-family: 'FontAwesome';
}

.image-font__twitter {
  background: #1bb2e9;
}

.image-font__facebook {
  background: #3c599b;
}

.image-font__google {
  background: #dd4c39;
}

.image-font__linkedin {
  background: #0274b3;
}

.image-font__social {
  text-align: center;
  font-size: 1.677419em;
  /* 26/15.5 */
  border-radius: 20px;
  width: 40px;
  height: 40px;
  line-height: 38px;
  margin-right: 10px;
  color: #fff;
  font-weight: 400;
}

.image-font__social:last-child {
  margin-right: 0;
}

.image-font__social:visited,
.image-font__social:hover,
.image-font__social:focus,
.image-font__social:active {
  color: #fff;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

/*
 * Set active links
 */
.main-navigation .current_page_item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-page-ancestor > a,
.main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a,
.main-navigation .current_page_parent > a,
.main-navigation .current-post-ancestor > a {
  text-decoration: none;
  color: #f26522;
}

.main-navigation.main-navigation--fixed .current_page_item > a,
.main-navigation.main-navigation--fixed .current-menu-item > a,
.main-navigation.main-navigation--fixed .current_page_ancestor > a,
.main-navigation.main-navigation--fixed .current-page-ancestor > a,
.main-navigation.main-navigation--fixed .current_page_parent > a,
.main-navigation.main-navigation--fixed .current-post-ancestor > a {
  color: #fff;
  text-decoration: underline;
}

.main-navigation .sub-menu .current_page_item > a,
.main-navigation .sub-menu .current-menu-item > a {
  color: #f26522;
  text-decoration: none;
  border-left: 5px solid #f26522;
}

/*
 * Set mobile-navigation active links.
 * Need to me more specific as these overwrite a number of styles.
 */
.mobile-navigation .current_page_item > a,
.mobile-navigation .current-menu-item > a,
.mobile-navigation .current-post-ancestor > a {
  border-left: 5px solid #f26522;
  color: #fff;
}

/*
**********************************************************************
PAGINATION
**********************************************************************
*/
/*
 * Used for pagination when lists of posts are displayed.
 */
.posts-pagination {
  border-top: 1px solid #bcbec0;
  padding-top: 30px;
}

.posts-pagination__link--newer a,
.posts-pagination__link--older a {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  background: #f26522;
  font-size: 100%;
  /* 1 */
  line-height: 1.3;
  /* 2 */
  margin: 0 0 21px 0;
  /* 3 */
  padding: 8px;
  /* 4 */
  cursor: pointer;
  /* 5 */
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.posts-pagination__link--newer a:hover,
.posts-pagination__link--older a:hover {
  background: #c74609;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}
.posts-pagination__link--newer a:focus,
.posts-pagination__link--older a:focus {
  color: #fff;
  text-decoration: none;
}
.posts-pagination__link--newer a:active,
.posts-pagination__link--older a:active {
  color: #fff;
  background: #c74609;
  text-decoration: none;
}

/*
 * Used for pagination when a single post is displayed.
 */
.post-pagination {
  border-top: 1px solid #bcbec0;
  padding-top: 30px;
}

.post-pagination__link--newer a,
.post-pagination__link--older a {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  background: #f26522;
  font-size: 100%;
  /* 1 */
  line-height: 1.3;
  /* 2 */
  margin: 0 0 21px 0;
  /* 3 */
  padding: 8px;
  /* 4 */
  cursor: pointer;
  /* 5 */
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.post-pagination__link--newer a:hover,
.post-pagination__link--older a:hover {
  background: #c74609;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}
.post-pagination__link--newer a:focus,
.post-pagination__link--older a:focus {
  color: #fff;
  text-decoration: none;
}
.post-pagination__link--newer a:active,
.post-pagination__link--older a:active {
  color: #fff;
  background: #c74609;
  text-decoration: none;
}

/*
 * Used for pagination when a page is displayed.
 */
.page-pagination {
  margin-top: 31px;
  border-top: 1px solid #bcbec0;
  padding-top: 30px;
}

.page-pagination__link--newer a,
.page-pagination__link--older a {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  background: #f26522;
  font-size: 100%;
  /* 1 */
  line-height: 1.3;
  /* 2 */
  margin: 0 0 21px 0;
  /* 3 */
  padding: 8px;
  /* 4 */
  cursor: pointer;
  /* 5 */
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.page-pagination__link--newer a:hover,
.page-pagination__link--older a:hover {
  background: #c74609;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}
.page-pagination__link--newer a:focus,
.page-pagination__link--older a:focus {
  color: #fff;
  text-decoration: none;
}
.page-pagination__link--newer a:active,
.page-pagination__link--older a:active {
  color: #fff;
  background: #c74609;
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .page-pagination__link--newer a {
    display: block;
  }
  .page-pagination__link--newer a:after {
    content: '\f054';
    font-family: FontAwesome;
    margin-left: 12px;
  }

  .page-pagination__link--older a {
    display: block;
    margin-bottom: 20px;
  }
  .page-pagination__link--older a:before {
    content: '\f053';
    font-family: FontAwesome;
    margin-right: 12px;
  }
}
/*
**********************************************************************
FOOTER
**********************************************************************
*/
.main-footer {
  margin-top: 40px;
  margin-bottom: 20px;
  padding-top: 10px;
  border-top: 1px solid #bcbec0;
  font-size: 0.903225em;
  /* 14/15.5 */
}

.main-footer__margin-bottom-40 {
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .main-footer__navigation {
    margin-bottom: 20px;
  }
}
.main-footer__copyright {
  text-transform: uppercase;
  margin-bottom: 0;
}

.main-footer__logo {
  width: 100px;
  margin-bottom: 5px;
}

.footer-navigation ul {
  list-style: none;
  margin: 0 0 21px 0;
}

.footer-navigation ul li {
  display: inline-block;
  margin: 0 0 0 20px;
}

.footer-navigation ul li:first-child {
  margin-left: 0;
}

.footer-navigation a {
  color: #797a7d;
  font-weight: 400;
}

/*
**********************************************************************
POSTS
**********************************************************************
*/
.content-main__image img {
  margin-bottom: 21px;
}

.content-summary {
  background: #F6F6F6;
  margin-bottom: 63px;
}

.content-summary:last-child {
  margin-bottom: 31px;
}

.content-summary__image a {
  display: block;
  overflow: hidden;
}

.content-summary__text {
  padding: 20px 10px;
}

/*
**********************************************************************
PAGES
**********************************************************************
*/
/*
******************
PAGE HEADER
******************
*/
.page-header--narrow {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .page-header--narrow {
    width: 100%;
  }
}
.page-header__title {
  font-weight: 700;
}

/*
******************
BLOCK IMAGE
******************
*/
.block-image-bkg {
  color: #fff;
  border-bottom-width: 5px;
  border-bottom-style: solid;
}

.block-image-bkg--orange {
  background: #f26522;
  border-bottom-color: #c74609;
}

.block-image-bkg--blue {
  background: #20609d;
  border-bottom-color: #0f4981;
}

.block-image-bkg__image {
  padding: 60px 0;
}

.block-image-bkg__image__img {
  max-height: 300px;
}

.col-item.block-image-bkg__text {
  padding: 60px;
}

@media only screen and (max-width: 767px) {
  .block-image-bkg__image {
    padding-bottom: 0;
  }

  .col-item.block-image-bkg__text {
    padding: 60px 30px;
  }
}
/*
******************
BLOCK HALF DIVIDER
******************
*/
@media only screen and (max-width: 767px) {
  .block-half-divider {
    margin-bottom: 63px;
  }
}
/*
******************
BLOCK HALF
******************
*/
/*
******************
SERVICE FA
******************
*/
.service-fa__image {
  display: block;
  margin-bottom: 10.5px;
  text-align: center;
  font-weight: normal;
}

a.service-fa__image--orange {
  color: #f26522;
  -webkit-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}

.service-fa__image--orange:hover,
.service-fa__image--orange:focus,
.service-fa__image--orange:active {
  color: #c74609;
  cursor: pointer;
  text-decoration: none;
}

a.service-fa__image--blue {
  color: #20609d;
  -webkit-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}

.service-fa__image--blue:hover,
.service-fa__image--blue:focus,
.service-fa__image--blue:active {
  color: #0f4981;
  cursor: pointer;
  text-decoration: none;
}

.service-fa__image-heading {
  margin-bottom: 0;
}

.color-brand-blue a {
  color: #20609d;
}

/*
******************
SERVICE IMAGE
******************
*/
@media screen and (max-width: 767px) {
  .service {
    margin-bottom: 42px;
  }

  .service:last-child {
    margin-bottom: 0;
  }
}
/*
 * 1. Set intrinsic ratio of 6:4 for project images.
 */
.service__image {
  position: relative;
  width: 100%;
  /* 1 */
  padding-bottom: 66.666666%;
  /* 1 */
  margin-bottom: 21px;
}

.service__image__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
******************
IMAGE BLOCK
******************
*/
@media screen and (max-width: 767px) {
  .image-block {
    margin-bottom: 21px;
  }

  .image-block:last-child {
    margin-bottom: 0;
  }
}
/*
 * 1. Set intrinsic ratio of 6:4 for project images.
 */
.image-block__image {
  position: relative;
  width: 100%;
  /* 1 */
  padding-bottom: 66.666666%;
  /* 1 */
  margin-bottom: 21px;
}

.image-block__image__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
******************
PROJECTS USED WITH NO SCRIPT
******************
*/
.projects {
  margin-bottom: 42px;
}

.projects__link {
  display: block;
}

/*
 * 1. Set intrinsic ratio of 6:4 for project images.
 */
.projects__image {
  position: relative;
  width: 100%;
  /* 1 */
  padding-bottom: 66.666666%;
  /* 1 */
  margin-bottom: 21px;
}

/*
 * Set to remove the padding bottom created initially by the intrinsic ratio.
 */
.projects__image__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image-overlay {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  color: #fff;
  opacity: 0;
  background: rgba(242, 101, 34, 0.85);
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.image-overlay:hover {
  opacity: 1;
}

.image-overlay:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.image-overlay div {
  display: inline-block;
  vertical-align: middle;
}

.projects__label__name {
  display: inline;
}

.projects__label__cta {
  float: right;
}

/*
******************
PACKERY
******************
*/
.malinky-gallery--blog {
  margin: 40px 0;
}

.lazy {
  background: url(img/logo.svg) 50% no-repeat;
  background-size: 50%;
}

.packery-container {
  visibility: hidden;
}

.packery-container--loaded {
  visibility: visible;
}

.packery-item {
  width: 32%;
  position: relative;
}

.packery-item.packery-item--half {
  width: 49%;
}

.packery-item.packery-item--two-third {
  width: 66%;
}

.packery-gutter {
  width: 2%;
}

.packery-image__expand:before {
  font-family: 'FontAwesome';
  content: "\f065";
  position: absolute;
  top: 2px;
  right: 2px;
  color: #797a7d;
  z-index: 949;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 20px;
  font-weight: normal;
}

.packery-item:hover .packery-image__expand:before {
  color: #f26522;
}

.packery-link {
  display: block;
  font-weight: normal;
  /* 1 */
}

.packery-image {
  position: relative;
  width: 100%;
  padding-bottom: 66.666666%;
}

.packery-image--tall {
  padding-bottom: 137.498804%;
}

.packery-image__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .packery-item,
  .packery-item.packery-item--half,
  .packery-item.packery-item--two-third {
    width: 100%;
  }

  .packery-gutter {
    width: 5%;
  }
}
.malinky-photoswipe-image {
  display: block;
}

/*
******************
CONTACT
******************
*/
.contact-form input,
.contact-form textarea {
  -webkit-transition-property: background, border;
  transition-property: background, border;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  transition-timing: ease-in-out;
}

.contact-form input:focus,
.contact-form textarea:focus {
  background: #f5f5f5;
}

.contact-form input[type="submit"]:focus {
  background: #c74609;
}

.malinky-captcha {
  margin-bottom: 21px;
}

.malinky-captcha__label,
.cptch_label {
  display: inline;
}

input.error,
textarea.error {
  outline: none;
  border: 1px solid #ea4e4e;
}

label.error {
  display: block;
  margin-bottom: 10px;
  color: #dc0000;
}

/*
******************
FEEDBACK
******************
*/
.feedback-flickity {
  width: 90%;
  margin: 0 auto;
}

.feedback-flickity-cell {
  width: 100%;
}

.feedback-flickity-cell p {
  padding: 0 10px;
}

/*
******************
CAN WE HELP
******************
*/
.can-we-help {
  background-image: url("../../uploads/can-we-help.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  padding: 80px 0;
}

.can-we-help__content {
  width: 80%;
  margin: 0 auto;
}

/*
**********************************************************************
POSTS HEADER
**********************************************************************
*/
/*
 * Used inbetween .main-header and any articles, sections, posts, pages displayed.
 * Acts as a sub header to page for example 'Viewing Monthly Archives: May'.
 */
.content-introduction__title {
  text-transform: uppercase;
}

/*
 * Used to contain the post title and meta data, like posted on date.
 */
.content-header__title {
  text-transform: uppercase;
  margin-bottom: 0;
}

.content-header__meta {
  margin-bottom: 20px;
  color: #bcbec0;
  font-weight: 700;
}

/*
**********************************************************************
POSTS FOOTER
**********************************************************************
*/
.content-footer {
  margin-bottom: 20px;
}

.content-footer__edit-link {
  display: block;
}

/*
**********************************************************************
SIDEBAR
**********************************************************************
*/
@media screen and (max-width: 767px) {
  .sidebar-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .sidebar-flex__content {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }

  .sidebar-flex__sidebar {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
  }
}
.sidebar {
  background: #F6F6F6;
  padding: 10px;
}

.sidebar-mobile,
.sidebar-mobile-inside {
  display: none;
  background: #F6F6F6;
}

.sidebar-mobile-inside {
  padding: 10px;
}

@media screen and (max-width: 767px) {
  .sidebar {
    display: none;
  }

  .sidebar-mobile {
    display: block;
    margin-bottom: 42px;
  }
}
.widget,
.widget-faux {
  margin-bottom: 42px;
}

.widget-title {
  text-transform: uppercase;
}

.sidebar-mobile a.widget-title {
  display: block;
  height: 40px;
  margin-bottom: 21px;
  background: #f26522;
  color: #fff;
  padding: 0 0 0 8px;
  line-height: 40px;
  -webkit-transition: background 0.25s ease-in-out;
  transition: background 0.25s ease-in-out;
  font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sidebar-mobile a.widget-title:after {
  content: "";
}

.sidebar-mobile a.widget-title:hover,
.sidebar-mobile a.widget-title:active,
.sidebar-mobile a.widget-title:focus {
  background: #c74609;
  cursor: pointer;
  text-decoration: none;
}

.widget-title-toggle__bar {
  display: inline-block;
  width: 20px;
  height: 3px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  background: #fff;
  position: relative;
  top: -5px;
}

.widget-title-toggle__bar:nth-child(2) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-left: 20px;
}

.widget-title-toggle__bar:nth-child(3) {
  -webkit-transform: translatex(-8px) rotate(-45deg);
      -ms-transform: translatex(-8px) rotate(-45deg);
          transform: translatex(-8px) rotate(-45deg);
}

.widget-title:not(.collapsed) .widget-title-toggle__bar:nth-child(2) {
  -webkit-transform: translatex(6px) rotate(45deg);
      -ms-transform: translatex(6px) rotate(45deg);
          transform: translatex(6px) rotate(45deg);
}

.widget-title:not(.collapsed) .widget-title-toggle__bar:nth-child(3) {
  -webkit-transform: translatex(-14px) rotate(-45deg);
      -ms-transform: translatex(-14px) rotate(-45deg);
          transform: translatex(-14px) rotate(-45deg);
}

.widget ul,
.tagcloud {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.widget li {
  margin-bottom: 0;
}

.widget--recent-posts li {
  margin-bottom: 10px;
}

/*
 * 1. This creates full width links but knocks any post counts (1) onto second line.
 *    This is fixed in template-functions.php filter.
 *    If it was display block. But not now.
 */
/*
 * Remove border on mobile widget header.
 */
/*
 * Tagcloud in .widget but needs some extra style to overwrite text.
 */
.tagcloud a,
.tagcloud a:visited {
  display: inline-block;
  background: #f26522;
  min-height: 36px;
  padding: 9px 5px 0 8px;
  font-weight: 700;
  font-size: inherit !important;
  /* 1 */
  margin: 0 2px 6px 0;
  -webkit-transition: background 0.25s ease-in-out;
  transition: background 0.25s ease-in-out;
}

.tagcloud a:hover,
.tagcloud a:active,
.tagcloud a:focus {
  background: #c74609;
}

.tagcloud a:before {
  margin-right: 0;
  content: "";
}

.widget_search label h5 {
  padding: 0 0 6px 0;
  margin: 0;
}

.services-shortcode a {
  display: inline-block;
  margin-bottom: 21px;
}

.services-shortcode__active {
  text-decoration: underline;
}

/*
**********************************************************************
ALIGNMENT
**********************************************************************
*/
.alignleft {
  display: inline;
  float: left;
  margin: 0 21px 0 0;
}

.alignright {
  display: inline;
  float: right;
  margin: 0 0 0 21px;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440. H5BP.
 */
audio,
canvas,
img,
video {
  vertical-align: middle;
}

/*
**********************************************************************
CLEARINGS
**********************************************************************
*/
/*
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/*
**********************************************************************
GOOGLE MAPS
**********************************************************************
*/
/*
 * Google maps.
 */
#map-canvas {
  max-width: 100%;
  height: 500px;
  margin-bottom: 20px;
}

/*
 * Sort out zoom controls.
 */
.gm-style img {
  max-width: none;
}

/*
**********************************************************************
PHOTOSWIPE
**********************************************************************
*/
/*! PhotoSwipe main CSS by Dmitry Semenov | photoswipe.com | MIT license */
.pswp {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  z-index: 10000;
  -webkit-text-size-adjust: 100%;
  -webkit-backface-visibility: hidden;
  outline: none;
}
.pswp * {
  box-sizing: border-box;
}
.pswp img {
  max-width: none;
}

.pswp--animate_opacity {
  opacity: 0.001;
  will-change: opacity;
  -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
  transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
}

.pswp--open {
  display: block;
}

.pswp--zoom-allowed .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.pswp--zoomed-in .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.pswp--dragging .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.pswp__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  will-change: opacity;
}

.pswp__scroll-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  will-change: transform;
}

.pswp__container,
.pswp__zoom-wrap {
  -ms-touch-action: none;
  touch-action: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.pswp__container,
.pswp__img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.pswp__zoom-wrap {
  position: absolute;
  width: 100%;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transition: -webkit-transform 333ms cubic-bezier(0.4, 0, 0.22, 1);
  transition: -webkit-transform 333ms cubic-bezier(0.4, 0, 0.22, 1);
  transition: transform 333ms cubic-bezier(0.4, 0, 0.22, 1);
  transition: transform 333ms cubic-bezier(0.4, 0, 0.22, 1), -webkit-transform 333ms cubic-bezier(0.4, 0, 0.22, 1);
}

.pswp__bg {
  will-change: opacity;
  -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
  transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
}

.pswp--animated-in .pswp__bg,
.pswp--animated-in .pswp__zoom-wrap {
  -webkit-transition: none;
  transition: none;
}

.pswp__container,
.pswp__zoom-wrap {
  -webkit-backface-visibility: hidden;
  will-change: transform;
}

.pswp__item {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.pswp__img {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

.pswp__img--placeholder {
  -webkit-backface-visibility: hidden;
}

.pswp__img--placeholder--blank {
  background: #222;
}

.pswp--ie .pswp__img {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.pswp__error-msg {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  margin-top: -8px;
  color: #CCC;
}

.pswp__error-msg a {
  color: #CCC;
  text-decoration: underline;
}

/*! PhotoSwipe Default UI CSS by Dmitry Semenov | photoswipe.com | MIT license */
.pswp__button {
  width: 44px;
  height: 44px;
  position: relative;
  background: none;
  cursor: pointer;
  overflow: visible;
  -webkit-appearance: none;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  float: right;
  opacity: 0.75;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  box-shadow: none;
}
.pswp__button:focus, .pswp__button:hover {
  opacity: 1;
}
.pswp__button:active {
  outline: none;
  opacity: 1;
}
.pswp__button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.pswp__ui--over-close .pswp__button--close {
  opacity: 1;
}

.pswp__button,
.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
  background: url(img/photoswipe_skin.png) 0 0 no-repeat;
  background-size: 264px 88px;
  width: 44px;
  height: 44px;
}

@media (-webkit-min-device-pixel-ratio: 1.1), (-webkit-min-device-pixel-ratio: 1.09375), (min-resolution: 105dpi), (min-resolution: 1.1dppx) {
  .pswp--svg .pswp__button,
  .pswp--svg .pswp__button--arrow--left:before,
  .pswp--svg .pswp__button--arrow--right:before {
    background-image: url(img/photoswipe_skin.svg);
  }

  .pswp--svg .pswp__button--arrow--left,
  .pswp--svg .pswp__button--arrow--right {
    background: none;
  }
}
.pswp__button--close {
  background-position: 0 -44px;
}

.pswp__button--share {
  background-position: -44px -44px;
}

.pswp__button--fs {
  display: none;
}

.pswp--supports-fs .pswp__button--fs {
  display: block;
}

.pswp--fs .pswp__button--fs {
  background-position: -44px 0;
}

.pswp__button--zoom {
  display: none;
  background-position: -88px 0;
}

.pswp--zoom-allowed .pswp__button--zoom {
  display: block;
}

.pswp--zoomed-in .pswp__button--zoom {
  background-position: -132px 0;
}

.pswp--touch .pswp__button--arrow--left,
.pswp--touch .pswp__button--arrow--right {
  visibility: hidden;
}

.pswp__button--arrow--left,
.pswp__button--arrow--right {
  background: none;
  top: 50%;
  margin-top: -50px;
  width: 70px;
  height: 100px;
  position: absolute;
}

.pswp__button--arrow--left {
  left: 0;
}

.pswp__button--arrow--right {
  right: 0;
}

.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
  content: '';
  top: 35px;
  height: 30px;
  width: 32px;
  position: absolute;
}

.pswp__button--arrow--left:before {
  left: 6px;
  background-position: -138px -44px;
}

.pswp__button--arrow--right:before {
  right: 6px;
  background-position: -94px -44px;
}

.pswp__counter,
.pswp__share-modal {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.pswp__share-modal {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 10px;
  position: absolute;
  z-index: 10100;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
  -webkit-backface-visibility: hidden;
  will-change: opacity;
}

.pswp__share-modal--hidden {
  display: none;
}

.pswp__share-tooltip {
  z-index: 10120;
  position: absolute;
  background: #FFF;
  top: 56px;
  border-radius: 2px;
  display: block;
  width: auto;
  right: 44px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
          transform: translateY(6px);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  -webkit-backface-visibility: hidden;
  will-change: transform;
}
.pswp__share-tooltip a {
  display: block;
  padding: 8px 12px;
  color: #000;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
}
.pswp__share-tooltip a:hover {
  text-decoration: none;
  color: #000;
}
.pswp__share-tooltip a:first-child {
  border-radius: 2px 2px 0 0;
}
.pswp__share-tooltip a:last-child {
  border-radius: 0 0 2px 2px;
}

.pswp__share-modal--fade-in {
  opacity: 1;
}
.pswp__share-modal--fade-in .pswp__share-tooltip {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.pswp--touch .pswp__share-tooltip a {
  padding: 16px 12px;
}

a.pswp__share--facebook:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: -12px;
  right: 15px;
  border: 6px solid transparent;
  border-bottom-color: #FFF;
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  pointer-events: none;
}
a.pswp__share--facebook:hover {
  background: #3E5C9A;
  color: #FFF;
}
a.pswp__share--facebook:hover:before {
  border-bottom-color: #3E5C9A;
}

a.pswp__share--twitter:hover {
  background: #55ACEE;
  color: #FFF;
}

a.pswp__share--pinterest:hover {
  background: #ab171e;
  color: #FFF;
}

a.pswp__share--download:hover {
  background: #DDD;
}

.pswp__counter {
  position: absolute;
  left: 0;
  top: 0;
  height: 44px;
  font-size: 13px;
  line-height: 44px;
  color: #FFF;
  opacity: 0.75;
  padding: 0 10px;
}

.pswp__caption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 44px;
}
.pswp__caption small {
  font-size: 11px;
  color: #BBB;
}

.pswp__caption__center {
  text-align: center;
  max-width: 420px;
  margin: 0 auto;
  font-size: 13px;
  padding: 10px;
  line-height: 20px;
  color: #CCC;
}

.pswp__caption--empty {
  display: none;
}

.pswp__caption--fake {
  visibility: hidden;
}

.pswp__preloader {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -22px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
  will-change: opacity;
}

.pswp__preloader__icn {
  width: 20px;
  height: 20px;
  margin: 12px;
}

.pswp__preloader--active {
  opacity: 1;
}
.pswp__preloader--active .pswp__preloader__icn {
  background: url(img/loader.gif) 0 0 no-repeat;
}

.pswp--css_animation .pswp__preloader--active {
  opacity: 1;
}
.pswp--css_animation .pswp__preloader--active .pswp__preloader__icn {
  -webkit-animation: clockwise 500ms linear infinite;
          animation: clockwise 500ms linear infinite;
}
.pswp--css_animation .pswp__preloader--active .pswp__preloader__donut {
  -webkit-animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite;
          animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite;
}
.pswp--css_animation .pswp__preloader__icn {
  background: none;
  opacity: 0.75;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 15px;
  top: 15px;
  margin: 0;
}
.pswp--css_animation .pswp__preloader__cut {
  position: relative;
  width: 7px;
  height: 14px;
  overflow: hidden;
}
.pswp--css_animation .pswp__preloader__donut {
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  border: 2px solid #FFF;
  border-radius: 50%;
  border-left-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .pswp__preloader {
    position: relative;
    left: auto;
    top: auto;
    margin: 0;
    float: right;
  }
}
@-webkit-keyframes clockwise {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes clockwise {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes donut-rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-140deg);
            transform: rotate(-140deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@keyframes donut-rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-140deg);
            transform: rotate(-140deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
.pswp__ui {
  -webkit-font-smoothing: auto;
  visibility: visible;
  opacity: 1;
  z-index: 10050;
}

.pswp__top-bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 44px;
  width: 100%;
}

.pswp__caption,
.pswp__top-bar,
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
  -webkit-backface-visibility: hidden;
  will-change: opacity;
  -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
  transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
}

.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
  visibility: visible;
}

.pswp__top-bar,
.pswp__caption {
  background-color: rgba(0, 0, 0, 0.5);
}

.pswp__ui--fit .pswp__top-bar,
.pswp__ui--fit .pswp__caption {
  background-color: rgba(0, 0, 0, 0.3);
}

.pswp__ui--idle .pswp__top-bar {
  opacity: 0;
}
.pswp__ui--idle .pswp__button--arrow--left,
.pswp__ui--idle .pswp__button--arrow--right {
  opacity: 0;
}

.pswp__ui--hidden .pswp__top-bar,
.pswp__ui--hidden .pswp__caption,
.pswp__ui--hidden .pswp__button--arrow--left,
.pswp__ui--hidden .pswp__button--arrow--right {
  opacity: 0.001;
}

.pswp__ui--one-slide .pswp__button--arrow--left,
.pswp__ui--one-slide .pswp__button--arrow--right,
.pswp__ui--one-slide .pswp__counter {
  display: none;
}

.pswp__element--disabled {
  display: none !important;
}

.pswp--minimal--dark .pswp__top-bar {
  background: none;
}

/*
**********************************************************************
FLICKITY
**********************************************************************
*/
.flickity-page-dots {
  bottom: -10px !important;
}

.flickity-page-dots .dot {
  height: 8px !important;
  width: 32px !important;
  margin: 0 !important;
  border-radius: 0 !important;
  background: #f26522 !important;
}

/*
**********************************************************************
PRINT
**********************************************************************
*/
/*
 * Inlined to avoid required HTTP connection: h5bp.com/r. H5BP.
 */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
/*
**********************************************************************
MEDIA QUERIES
**********************************************************************
*/
/*/*
 * Large
 */
/*
 * Medium
 */
/*
 * Small
 */



/*# sourceMappingURL=sourcemaps/style.css.map */
