a,
a:visited {
    color: $link-color;
    text-decoration: none;
    font-weight: bold;
}

a:hover,
a:focus,
a:active {
    color: $link-color-hover;
    text-decoration: underline;
}

.back-top {
    display: none;    
    position: fixed;
    right: 30px;
    bottom: 30px;
    line-height: 40px;
    font-size: 5em; /* 70/14 */
    text-decoration: none;
    cursor: pointer;
    z-index: 9998;
    color: $back-to-top-color;
    transition: color 0.25s ease-in-out;
    font-family: 'FontAwesome';       
} 

.back-top:hover {
    text-decoration: none;
    color: $back-to-top-color-hover;
    cursor: pointer;
}