/*
 * Holder for main navigation.
 * This is a fixed navigation until main-navigation-bar--not-fixed is applied through js.
 */
.main-navigation-bar {
    background: #fff;    
    font-family: $navigation-font-family;
    font-size: $navigation-font-size;
    height: $navigation-bar-height;
    z-index: 9999;
}


@media screen and (min-width: 768px) {
    
    .main-navigation-bar-border .wrap {
        border-bottom: $footer-border;
        height: $navigation-bar-height;
    }
    
}

.main-navigation-bar--fixed {
    position: fixed;
}

/*
 * Remove position: fixed.
 * This is done at a certain scroll position through js.
 * The top is set from the height of .main-image - .main-navigation-bar.
 */
.main-navigation-bar--not-fixed {
    position: relative;
    top: $main-header-bkg-image - $navigation-bar-height;
}

/*
 * Add color or image to full width background.
 * .main-navigation-bar--Modifier. 
 */
.main-navigation-bar--bkg {
    background: $navigation-bar-background-color;
}

/*
 * Used for fixed .main-navigation (not mobile).
 * 1. Hide off screen set to same as height and the bottom border if there is one.
 * .wrap-full--Modifier.
 */
.main-navigation-bar-fixed {
    position: fixed;
    top: (-$navigation-fixed-height - $navigation-bar-border-width); /* 1 */
    visibility: hidden;
    left: 0;
    right: 0;    
    z-index: 9998;
    transition-property: top, visibility;
    transition-duration: 0.2s;
    border-bottom: 1px solid #fff;
}

/*
 * Add color or image to full width background.
 * .main-navigation-bar-fixed--Modifier. 
 */
.main-navigation-bar-fixed--bkg {
    background: $navigation-bar-background-color;
}

/*
 * Class added via js to slide in main-navigation-bar-fixed.
 */
.main-navigation-bar-fixed--show {
    top: 0;
    visibility: visible;
    transition-property: top visibility;
    transition-duration: 0.4s;
}

/*
 * 1. Set to height of navigation.
 * 2. Set line-height of navigation for vertical centre.
*/
.main-navigation {
    /*position: relative;
    height: $navigation-height;
    line-height: $navigation-height;*/
}

/*
 * Applied to <nav> .main-navigation for a fixed main-navigation (not on mobile).
 * Overwrite any unwanted styles from .main-navigation as this is a Modifier.
 * This is the navigation that slides in from off screen.
 * .main-navigation--Modifier.
 */
.main-navigation--fixed {
    height: $navigation-fixed-height;
    line-height: $navigation-fixed-height;
    border: none;
}

/*
 * All Levels.
 */
.main-navigation ul {
    list-style: none;
    margin: 0;
}

/*
 * All Levels.
 * 1. Used to position dropdown relative to the li.
 * 2. Nudge hover down to bottom border.
 */
.main-navigation li {
    position: relative; /* 1 */
    display: inline-block;    
    margin: 0 0 0 22px;
    padding-bottom: $navigation-dropdown-nudge; /* 2 */
}

@media screen and (max-width: 860px) {
    
    .main-navigation li {
        margin: 0 0 0 18px;
    }

}

@media screen and (max-width: 820px) {
    
    .main-navigation li {
        margin: 0 0 0 16px;
    }

}

@media screen and (max-width: 800px) {
    
    .main-navigation li {
        margin: 0 0 0 12px;
    }

}

/*
 * All Levels.
 */
.main-navigation li:first-child {
    margin-left: 0;
}

/*
 * All Levels.
 * Main navigation link style.
 * 1. Nudge hover down to bottom border.
 */
.main-navigation a:link,
.main-navigation a:visited
{
    font-weight: $navigation-font-weight;    
    color: $navigation-link-color;
    padding-bottom: $navigation-dropdown-nudge; /* 1 */
}

.main-navigation--fixed a:link,
.main-navigation--fixed a:visited
{
    color: #fff;
}

/*
 * All Levels.
 * Main navigation hover style.
 */
.main-navigation a:hover,
.main-navigation a:focus,
.main-navigation a:active {
    color: $navigation-link-color-hover;
    text-decoration: none;
}

.main-navigation--fixed a:hover,
.main-navigation--fixed a:focus,
.main-navigation--fixed a:active
{
    color: #fff;
    text-decoration: underline;    
}

/*
 * Second and Third Level.
 * This makes the dropdown boxed in.
 * 1. Top margin needs settings to -ve value of the width of the dropdown border if there is one.
 * 2. Reset from .main-navigation.
 */
.main-navigation ul ul {
    display: none;
    position: absolute;
    top: 25px;
    left: -17px;
    z-index: 999;
    background: $navigation-dropdown-background-color;
    border-top: 1px solid $navigation-dropdown-border-color;
    border-right: 1px solid $navigation-dropdown-border-color;
    border-bottom: 1px solid $navigation-dropdown-border-color;
    margin: -$navigation-dropdown-border-width 0 0 0; /* 1 */
    line-height: initial; /* 2 */
    text-align: left;
}

.home .main-navigation ul ul {
    border-top: 1px solid rgba(256, 256, 256, 1);
}

/*
 * Third Level override.
 */
.main-navigation.main-navigation--fixed ul ul,
.home .main-navigation.main-navigation--fixed ul ul {
    border-top: 1px solid #fff;
    top: 42px;
}

/*
 * Second and Third Level Show.
 */
.main-navigation ul li:hover > ul {
    display: block;
}

/*
 * Second and Third Level.
 */
.main-navigation ul ul li
{
    display: block;
    white-space: nowrap;
    margin: 0;
}

/*
 * Third Level Position.
 */
.main-navigation ul ul ul
{
    top: 0;
    left: 100%;
    margin-top: -2px;
}

.main-navigation ul ul li {
    padding-bottom: 0;
}

/*
 * Second and Third Level.
 * Overide .main-navigation link style.
 */
.main-navigation ul ul a:link,
.main-navigation ul ul a:visited {
    display: block;
    color: $navigation-dropdown-link-color;
    padding: 11px 12px;
    border-left: 5px solid $navigation-dropdown-border-color;
}

/*
 * Second and Third Level.
 * Overide .main-navigation hover style.
 */
.main-navigation ul ul a:hover {
    color: $navigation-dropdown-link-color-hover;
    border-left: 5px solid $navigation-dropdown-link-color-hover;
    text-decoration: none;
}

.main-navigation-contact {
    display: inline-block;
    font-weight: 700;
}

.main-navigation-contact:first-child {
    margin-right: 20px;
}