/*
 * Holder for mobile navigation.
 * The menu bar that is clicked to display the .mobile-navigation.
 * 1. Set to 41px keeps the main section at 40px especially when used with a bottom border.
 */
.mobile-navigation-bar {
    font-family: $navigation-mobile-font-family;
    font-size: $navigation-mobile-font-size;
    display: none;
    position: fixed;
    width: 100%; 
    z-index: 9996;
    background: $navigation-mobile-bar-background-color;
    height: $navigation-mobile-height; /* 1 */
    top: 0px;
    border-bottom: 1px solid #fff;
}

/*
 * Change color of mobile navigation bar when navigation is shown.
 */
.mobile-navigation-bar--on {
    background: $navigation-mobile-bar-background-color-on;
    border-bottom: $navigation-mobile-seperator;
}

.mobile-navigation-bar a {
    color: $navigation-mobile-link-color;
}

.mobile-navigation-toggle {
    display: inline-block;
    padding: 12px 10px 12px 10px;
    cursor: pointer;    
}

/*
 * 1. Left open (use one or the other).
 * 2. Right open (use one or the other)
 */
.mobile-navigation-toggle--bar {
    display: block;
    width: 22px;
    height: 3px;
    transform-origin: 1px; /* 1 */
    /*transform-origin: 21px;*/ /* 2 */
    background: #fff;
}

.mobile-navigation-toggle--bar + .mobile-navigation-toggle--bar {
    margin-top: 4px;
}

.mobile-navigation-toggle:not(.collapsed) .mobile-navigation-toggle--bar:nth-child(1) {
    transition-property: transform;
    transition-duration: 0.3s;
    transform: rotate(45deg);
}

.mobile-navigation-toggle:not(.collapsed) .mobile-navigation-toggle--bar:nth-child(2) {
    transition-property: transform, opacity;
    transition-duration: 0.3s;
    opacity: 0;
}

.mobile-navigation-toggle:not(.collapsed) .mobile-navigation-toggle--bar:nth-child(3) {
    transition-property: transform;
    transition-duration: 0.3s;
    transform: rotate(-45deg);
}

.mobile-navigation-toggle--text {
    position: absolute;
    top: 13px;
    left: 40px;
    color: #fff; 
}

.mobile-navigation-bar__social {
    position: absolute;
    top: -3px;
    right: 0;
    line-height: 40px;
}

.mobile-navigation-bar__social a {
    width: 41px;
    text-align: center;
    margin-left: -4px;
    font-size: 1.4em;
    color: #fff;
    border-left: 1px solid $brand-orange-dark; 
}

/*
 * Fake border when main-header-bkg-image is used.
 */
.mobile-navigation-bar__social--main-header-bkg-image a {
    border-left: 1px solid transparent;
}

/*
 * Add the border to the above when scrolled.
 */
.mobile-navigation-bar__social--main-header-bkg-image--scrolled a {
    border-left: 1px solid $brand-orange-dark; 
}

.mobile-navigation-bar--on .mobile-navigation-bar__social a {
    border-left: 1px solid #5a5a5a;
}

/*
 * The mobile menu that slides in or down.
 * 1. Set to the same height as .mobile-navigation-bar.
 * 2. This sets a colour on the whole of mobile navigation slide in.
 */
.mobile-navigation {    
    position: fixed;
    bottom: 0;
    transform: translate(-100%, 0);
    overflow-y: auto;
    width: 100%;
    top: $navigation-mobile-height; /* 1 */ 
    padding: 0;
    margin: 0;
    background: $navigation-mobile-background-color;    
}

.mobile-navigation-show {
    transform: translate(0);
    transition: transform 0.2s ease-in-out;    
}

/*
 * Add to the html, body in js to ensure scrolling works correctly when the menu is longer than the page.
 * This disables scrolling of the page underneath the mobile-navigation.
 */
.mobile-navigation-show-overflow {
    overflow: hidden;
    //position: fixed;
}

/*
 * Mobile All Levels.
 */
.mobile-navigation ul {
    list-style: none;
    margin: 0;
}

ul.mobile-navigation-contact {
}

/*
 * Mobile First Level.
 * 1. Remove margin previously set.
 */
.mobile-navigation ul li {
    display: block;
    margin: 0; /* 1 */
    border-bottom: $navigation-mobile-seperator;
}

/*
 * Remove double top border on first menu item (specific).
 * This works when a menu is set from admin and when no menu is set and Wordpress defaults to one.
 * The second rules accounts for a default wordpress menu which adds .menu wrapper to the ul.
 */
.mobile-navigation > ul > li:first-child,
.mobile-navigation > .menu > ul > li:first-child {
    border-top: none;
}

/*
 * All Levels.
 * Mobile navigation link style.
 * 1. Fake border left matching the mobile-navigation background.
 * This stops the text moving when the hover border is added.
 */
.mobile-navigation a,
.mobile-navigation a:visited {
    display: block;
    padding: 10px 0 10px 12px;
    border-left: 5px solid $navigation-mobile-link-border-color; /* 1 */
    color: $navigation-mobile-link-color;
    text-decoration: none;
    @include transition-button-hover;
}

/*
 * All Levels.
 * Mobile navigation hover style.
 */
.mobile-navigation a:hover {
    /*border-left: 5px solid $navigation-mobile-link-border-color-hover;
    color: $navigation-mobile-link-color-hover;*/
}

.mobile-navigation a:focus,
.mobile-navigation a:active {
    //background: $navigation-mobile-link-background-color;
}

/*
 * Sub menu borders.
 */
.mobile-navigation .sub-menu li:first-child {
    border-top: $navigation-mobile-seperator;
}

.mobile-navigation .sub-menu li:last-child {
    border-bottom: none;
}

/*
 * Mobile Second Level.
 * Mobile navigation link style.
 */ 
.mobile-navigation ul ul li a:link,
.mobile-navigation ul ul li a:visited {
    padding-left: 24px;
}

/*
 * Mobile Third Level.
 * Mobile navigation link style.
 */
.mobile-navigation ul ul ul li a:link,
.mobile-navigation ul ul ul li a:visited {
    padding-left: 38px;
}

@media screen and (max-width: 767px) {

    .mobile-navigation-bar,
    .main-navigation-bar-fixed {
        display: block;
    }

    .main-navigation-bar,
    .main-navigation-bar-fixed {
        display: none;
    }

}