/*
 * Overide <a> styles for image fonts (dashicons / font awesome).
 */
.image-font {
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
} 

.image-font:visited,
.image-font:hover,
.image-font:focus,
.image-font:active {
    text-decoration: none;
}

/*
 *  Position so sits in middle of navigation.
 * .image-font__Element.
 */
.image-font__sizing {
    text-align: center;
    font-size: 1.677419em; /* 26/15.5 */
}

.image-font__sizing--large {
    font-size: 5.161290em; /* 80/15.5 */
}

/*
 * If text accompanies an image font, like Twitter logo on contact page
 */
.image-font__label {
    margin-left: 10px;
}

/*
 * Use my own reference to the image fonts so I control all styling not their stylsheets.
 * .image-font__Element.
 */
.image-font__fontawesome {
    font-family: 'FontAwesome';
}

.image-font__twitter {
    background: #1bb2e9;
}

.image-font__facebook {
    background: #3c599b;
}

.image-font__google {
    background: #dd4c39;
}

.image-font__linkedin {
    background: #0274b3;
}

.image-font__social {
    text-align: center;
    font-size: 1.677419em; /* 26/15.5 */
    border-radius: 20px;
    width: 40px;
    height: 40px;
    line-height: 38px;
    margin-right: 10px;
    color: #fff;
    font-weight: 400;
}

.image-font__social:last-child {
    margin-right: 0;
}

.image-font__social:visited,
.image-font__social:hover,
.image-font__social:focus,
.image-font__social:active {
    color: #fff;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

/*
 * Set active links
 */
.main-navigation .current_page_item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-page-ancestor > a,
.main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a,
.main-navigation .current_page_parent > a,
.main-navigation .current-post-ancestor > a {
    text-decoration: none;
    color: $brand-orange;
}

.main-navigation.main-navigation--fixed .current_page_item > a, 
.main-navigation.main-navigation--fixed .current-menu-item > a,
.main-navigation.main-navigation--fixed .current_page_ancestor > a,
.main-navigation.main-navigation--fixed .current-page-ancestor > a,
.main-navigation.main-navigation--fixed .current_page_parent > a,
.main-navigation.main-navigation--fixed .current-post-ancestor > a {
    color: #fff;
    text-decoration: underline;
}

.main-navigation .sub-menu .current_page_item > a, 
.main-navigation .sub-menu .current-menu-item > a {
    color: $navigation-dropdown-link-color-hover;
    text-decoration: none;
    border-left: 5px solid $navigation-dropdown-link-color-hover;
}

/*
 * Set mobile-navigation active links.
 * Need to me more specific as these overwrite a number of styles.
 */
.mobile-navigation .current_page_item > a, 
.mobile-navigation .current-menu-item > a,
//.mobile-navigation .current_page_ancestor > a,
//.mobile-navigation .current-page-ancestor > a,
//.mobile-navigation .current_page_parent > a,
.mobile-navigation .current-post-ancestor > a {
    border-left: 5px solid $navigation-mobile-link-border-color-hover;
    color: $navigation-mobile-link-color-hover;
}