/*
 * Used for pagination when lists of posts are displayed.
 */
.posts-pagination {
	border-top: 1px solid $border-color;
	padding-top: 30px;
}

.posts-pagination__link {

}

.posts-pagination__link--newer,
.posts-pagination__link--older {
	
	a {
	    display: inline-block;
	    text-align: center;
	    vertical-align: middle;   
	    color: $button-text-color;
	    background: $button-background-color;
	  	font-size: 100%; /* 1 */
	  	line-height: 1.3; /* 2 */
	  	margin: 0 0 21px 0; /* 3 */
	  	padding: 8px; /* 4 */
	    cursor: pointer; /* 5 */
		transition: background 0.2s ease-in-out;	    
	}

	a:hover {
	    background: $button-background-color-hover;
	    text-decoration: none;
	    cursor: pointer;
	    color: $button-text-color;
	}

	a:focus {
	  color: $button-text-color;
	  text-decoration: none;  
	}

	a:active {
	  color: $button-text-color;  
	  background: $button-background-color-hover;
	  text-decoration: none;
	}	

}

/*
 * Used for pagination when a single post is displayed.
 */
.post-pagination {
	border-top: 1px solid $border-color;
	padding-top: 30px;
}

.post-pagination__link {

}

.post-pagination__link--newer,
.post-pagination__link--older {
	
	a {
	    display: inline-block;
	    text-align: center;
	    vertical-align: middle;   
	    color: $button-text-color;
	    background: $button-background-color;
	  	font-size: 100%; /* 1 */
	  	line-height: 1.3; /* 2 */
	  	margin: 0 0 21px 0; /* 3 */
	  	padding: 8px; /* 4 */
	    cursor: pointer; /* 5 */
		transition: background 0.2s ease-in-out;	    
	}

	a:hover {
	    background: $button-background-color-hover;
	    text-decoration: none;
	    cursor: pointer;
	    color: $button-text-color;
	}

	a:focus {
	  color: $button-text-color;
	  text-decoration: none;  
	}

	a:active {
	  color: $button-text-color;  
	  background: $button-background-color-hover;
	  text-decoration: none;
	}	

}

/*
 * Used for pagination when a page is displayed.
 */
.page-pagination {
	margin-top: 31px;
	border-top: 1px solid $border-color;
	padding-top: 30px;
}

.page-pagination__link {

}

.page-pagination__link--newer,
.page-pagination__link--older {
	
	a {
	    display: inline-block;
	    text-align: center;
	    vertical-align: middle;   
	    color: $button-text-color;
	    background: $button-background-color;
	  	font-size: 100%; /* 1 */
	  	line-height: 1.3; /* 2 */
	  	margin: 0 0 21px 0; /* 3 */
	  	padding: 8px; /* 4 */
	    cursor: pointer; /* 5 */
		transition: background 0.2s ease-in-out;	    
	}

	a:hover {
	    background: $button-background-color-hover;
	    text-decoration: none;
	    cursor: pointer;
	    color: $button-text-color;
	}

	a:focus {
	  color: $button-text-color;
	  text-decoration: none;  
	}

	a:active {
	  color: $button-text-color;  
	  background: $button-background-color-hover;
	  text-decoration: none;
	}	

}

@media screen and (max-width: 480px) {

	.page-pagination__link--newer {
		
		a {
		    display: block;
		}

		a:after {
		    content: '\f054';
		    font-family: FontAwesome;
		    margin-left: 12px;
		}

	}

	.page-pagination__link--older {

		a {
		    display: block;
		    margin-bottom: 20px;
		}

		a:before {
		    content: '\f053';
		    font-family: FontAwesome;
		    margin-right: 12px;
		}

	}

}