h1,
h2,
h3,
h4,
h5,
h6 {
  	font-family: $font-family-heading;
    font-weight: 700;
    margin-bottom: $text-margin-bottom;
}

h1.alternate,
h2.alternate,
h3.alternate,
h4.alternate,
h5.alternate,
h6.alternate, {
    font-family: $font-family;
}

h1,
.heading-1 {
    font-size: 1.677419em; /* 26/15.5 */
}

h2,
.heading-2 {
    font-size: 1.548387em; /* 24/15.5 */
}

h3,
.heading-3 {
    font-size: 1.290322em; /* 20/15.5 */
}

h4,
.heading-4 {
    font-size: 1.096774em; /* 17/15.5 */
}

h5,
.heading-5 {
    font-size: 1em; /* 15/15.5 */
}

h6,
.heading-6 {
    font-size: 1em; /* 15/15.5 */
}

.sub-heading {
    font-size: 1.032258em; /* 16/15.5 */
    font-weight: 700;
}

p {
    margin-bottom: $text-margin-bottom;
}

.no-margin {
    margin: 0;
}

.half-margin {
    margin-bottom: $text-margin-bottom / 2;
}

.third-margin,
.list-content.third-margin,
.list-content-checklist.third-margin {
    margin-bottom: $text-margin-bottom / 3;
}

.twice-margin,
.list-content.twice-margin,
.list-content-checklist.twice-margin {
    margin-bottom: $text-margin-bottom * 2;
}

.triple-margin,
.list-content.triple-margin,
.list-content-checklist.triple-margin {
    margin-bottom: $text-margin-bottom * 3;
}

b,
strong {
    font-weight: 700;
}

.bold-text {
    font-weight: 700;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

cite {
    margin-bottom: $text-margin-bottom;
    border-left: 4px solid $brand-blue;
    padding: 0 0 0 10px;
    font-style: italic;
}

q {
    font-style: italic;
    quotes: "“" "”" "‘" "’";
}

q:before {
    content: open-quote;
}

q:after {
    content: close-quote;
}

blockquote {
    border-left: 4px solid #f26522;
    padding: 10px 0 10px 20px;
    font-weight: 700;
    font-size: 1.032258em; /* 16/15.5 */
    width: 95%;
    margin: $text-margin-bottom + 10 auto;
}

/*
 * Remove extra padding if p ued in blockquote.
 */
blockquote p:last-child {
    margin-bottom: 0;
}

address {
    margin: 0 0 21px 0;
}

pre {
    border-left: 4px solid $brand-orange;
    padding: 10px 0 10px 10px;
    font-family: "Courier 10 Pitch", Courier, monospace;
    line-height: 1.6;
    margin-bottom: $text-margin-bottom;
    max-width: 100%;
    overflow: auto;
}

code,
kbd,
tt,
var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}

sup,
sub {
    font-size: 0.774193em; /* 12/15.5 */
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    bottom: 1ex;
}

sub {
    top: .5ex;
}

small,
.small {
    font-size: 0.903225em; /* 13/15.5 */
}

big {
    font-size: 1.161290em; /* 18/15.5 */
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}