.flickity-page-dots {
  	bottom: -10px !important;
}

.flickity-page-dots .dot {
	height: 8px !important;
	width: 32px !important;
	margin: 0 !important;
	border-radius: 0 !important;
	background: $brand-orange!important;
}